include _mixins
block footer

    footer#footer.footer

        .footer-top

            .container

                nav.footer-top__nav

                    .footer-top__nav-item

                        a.footer-top__link Комплексное сопровождение
                        ul.footer-top__list

                            .footer-top__list-item
                                a Юридическое

                            .footer-top__list-item
                                a Бухгалтерское

                            .footer-top__list-item
                                a Финансовое

                            .footer-top__list-item
                                a Налоговое

                            .footer-top__list-item
                                a Кадровое

                            .footer-top__list-item
                                a ВЭД

                            .footer-top__list-item
                                a Судебное

                    .footer-top__nav-item

                        a.footer-top__link Бухгалтерия и финансы
                        ul.footer-top__list

                            .footer-top__list-item
                                a Бухгалтерский аутсорсинг

                            .footer-top__list-item
                                a Налоговоое планирование

                    .footer-top__nav-item

                        a.footer-top__link Юридические услуги
                        ul.footer-top__list

                            .footer-top__list-item
                                a Юридический аутсорсинг

                            .footer-top__list-item
                                a Правовой аудит (Due diligence)

                    .footer-top__nav-item

                        a.footer-top__link Кадры
                        ul.footer-top__list

                            .footer-top__list-item
                                a Кадровый аудит

                    .footer-top__nav-item

                        a.footer-top__link Суды
                        ul.footer-top__list

                            .footer-top__list-item
                                a Ведение дел в судах

                    .footer-top__nav-item

                        a.footer-top__link Иностранным компаниям
                        ul.footer-top__list

                            .footer-top__list-item
                                a Запуск и сопровождение бизнеса в России для иностранных компаний

        .footer-bottom

            .container

                nav.footer-bottom__nav

                    .footer-bottom__nav-item

                        a.footer-bottom__link Кейсы
                        ul.footer-bottom__list

                            .footer-bottom__list-item
                                a Производство

                            .footer-bottom__list-item
                                a Торговля

                            .footer-bottom__list-item
                                a IT

                            .footer-bottom__list-item
                                a E-commerce

                            .footer-bottom__list-item
                                a Услуги

                    .footer-bottom__nav-item

                        a.footer-bottom__link Цены
                        ul.footer-bottom__list

                            .footer-bottom__list-item
                                a Прайс по всем услугам

                            .footer-bottom__list-item
                                a Прайс по юридическим услугам

                            .footer-bottom__list-item
                                a Прайс по судебным делам

                            .footer-bottom__list-item
                                a Прайс по бухгалтерским услугам

                            .footer-bottom__list-item
                                a Прайс по кадровым услугам

                            .footer-bottom__list-item
                                a Прайс по услугам иностранным компаниям

                    .footer-bottom__nav-item

                        a.footer-bottom__link Отзывы
                        ul.footer-bottom__list

                            .footer-bottom__list-item
                                a Юридическое сопровождение

                            .footer-bottom__list-item
                                a Бухгалтерcкое сопровождение

                            .footer-bottom__list-item
                                a Судебное представительство

                            .footer-bottom__list-item
                                a Комплексное сопровождение

                    .footer-bottom__nav-item

                        a.footer-bottom__link О компании
                        ul.footer-bottom__list

                            .footer-bottom__list-item
                                a История развития

                            .footer-bottom__list-item
                                a Наша команда

                            .footer-bottom__list-item
                                a Карьера

                            .footer-bottom__list-item
                                a Наш опыт

                            .footer-bottom__list-item
                                a Обращение руководителя FLC

                    .footer-bottom__nav-item

                        a.footer-bottom__link Блог

                    .footer-bottom__nav-item

                        a.footer-bottom__link Контакты
                        ul.footer-bottom__list

                            .footer-bottom__list-item
                                a Офис на Бауманской

                            .footer-bottom__list-item
                                a Офис на Дубининской

        .footer-socials

            .container

                .footer-socials-wrapper

                    .footer-socials__left

                        .footer-socials__top

                            .footer-socials__top-title Подпишитесь на нас в соц. сетях:

                            .footer-socials__items

                                .footer-socials__item
                                    img(src="assets/images/vk-ic.svg", alt="")

                                .footer-socials__item
                                    img(src="assets/images/fb-ic.svg", alt="")

                                .footer-socials__item
                                    img(src="assets/images/vc-ic.svg", alt="")

                        .footer-socials__contacts

                            .footer-socials__contacts-title Наши контакты:

                            a(href="").footer-socials__contact

                                .footer-socials__contact-img
                                    img(src="assets/images/pt-ic.svg", alt="")

                                .footer-socials__contact-title Москва, Дубининская дом 80, офис 524

                            a(href="mailto:flc@f-jurist.ru").footer-socials__contact

                                .footer-socials__contact-img
                                    img(src="assets/images/mail-ic.svg", alt="")

                                .footer-socials__contact-title flc@f-jurist.ru

                            a(href="tel:+7 (495) 797 16 77").footer-socials__contact

                                .footer-socials__contact-img
                                    img(src="assets/images/phone-ic.svg", alt="")

                                .footer-socials__contact-title +7 (495) 797 16 77

                            .button-style(data-popup) Заказать звонок

                    .footer-socials__right

                        .footer-socials__right-title Остались вопросы? Напишите нам:

                        .footer-form

                            form(action="")

                                label(for="")
                                    input(type="text" placeholder="Ваше имя")

                                label(for="")
                                    input(type="text" placeholder="Ваш телефон")

                                label(for="")
                                    input(type="text" placeholder="Сообщение")

                                button(type="submit").button-style Оставить заявку

                                .footer-form__agr Нажимая на кнопку “Отправить”, вы принимаете условия <a>политики конфиденциальности</a> и соглашаетесь на <a>обработку персональных данных</a>

                                .footer-form__policy Политика конфиденциальности<br>ООО «Полный Юридический Консалтинг»

        .footer__copyright

            .container

                .footer__copyright-wrapper

                    .footer__logo
                        img(src="assets/images/footer-logo.svg", alt="")

                    .footer__copyright-text © 2022 ООО "Полный юридический консалтинг"