.kadr-auts {
  .hero__img {
    @include breakpoint(xl) {
      height: 480px;
      padding: 30px 0;
    }

    img {
      @include breakpoint(xl) {
        height: 100%;
      }
    }
  }

  .tabs__nav-item a {
    max-width: 231px;
    text-align: center;
  }

  .hero__text {
    @include breakpoint(xl) {
      max-width: 407px;
    }
  }

  .wwdo__item-text {
    max-width: 230px;
  }

  .acc__desc-nav-item-inner {
    max-width: 38rem;
  }
}

.acc__panel-list--bold {
  .acc__panel-list-item {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
}
