.sud-pred .hero-section {

    @include breakpoint(lg) {
        padding-bottom: 130px;
    }

    @include breakpoint(xl) {
        padding-bottom: 0;
    }
}

.sud-pred  {

    .wwdo__item-text {
        max-width: 230px;
    }


}


.sud-pred .hero__inner {

    @include breakpointMax(md) {
        display: block;
    }

    @include breakpoint(md) {
        align-items: center;
    }
}

.sud-pred .hero__main {

    @include breakpoint(md) {
        width: calc(((100% / 12) * 6) + 20px);
    }

    @include breakpoint(xl) {
        width: calc(((100% / 12) * 5));
    }
}

.sud-pred #hero-title,
.sud-pred .hero__title h1 {

    @include breakpoint(lg) {
        font-size: 40px;
    }
}

.sud-pred .hero__btn {
    padding: 3px 50px;
    max-width: 330px;

    @include breakpoint(md) {
        padding: 14px;
    }
}

.sud-pred .hero__img {

    @include breakpointMax(lg) {
        display: none;
    }

    @include breakpoint(lg) {
        width: calc(((100% / 12) * 6) + 20px);
        overflow: hidden;
    }

    @include breakpoint(xl) {
        margin-top: 20px;
        margin-bottom: 10px;
        width: calc(((100% / 12) * 7));
    }
}

.sud-pred .hero__img img {

    @include breakpoint(lg) {
        position: relative;
        right: -40px;
    }

    @include breakpoint(xl) {
        left: 0;
    }
}

.hero__list {
    margin: 40px 0;
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    @include breakpoint(md) {
        margin: 0;
        max-width: 305px;
    }

    @include breakpoint(lg) {
        padding: 10px;
        position: absolute;
        top: -18px;
        right: 30px;
        height: auto;
        max-height: 441px;
    }

    @include breakpoint(xl) {
        top: 22px;
    }
}

.hero__list-item {
    padding: 15px 10px 20px;

    @include breakpoint(md) {
        padding: 15px 1.5px 20px;
    }
}

.hero__list-icon {
    margin: 0 auto 8px;
    width: 30px;
    height: 30px;
}

.hero__list-title {
    margin: 0 auto 8px;
    max-width: 170px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    @include breakpoint(md) {
        max-width: unset;
    }
}

.hero__list-text {
    font-weight: 300;
    font-size: 15px;
    text-align: center;

    @include breakpoint(lg) {
        max-width: 258px;
    }
}

.sud-pred .wwdo__item {
    padding: 20px 20px;
}

.sud-pred .wwde__pagination {

    @include breakpoint(xl) {
        margin: 0;
    }
}

.sud-pred .tabs__nav-item {
    max-width: 205px;
}

.sud-pred .tabs__nav-item a {
    text-align: center;
}

.litigation-type .section-title {

    @include breakpoint(lg) {
        margin-left: auto;
        margin-right: auto;
        max-width: 794px;
    }

    @include breakpoint(xl) {
        max-width: unset;
    }
}

.litigation .swiper {
    overflow: visible;
}

.litigation .swiper-wrapper {

    @include breakpoint(lg) {
        margin-bottom: -20px;
        margin-left: -10px;
        display: flex;
        flex-wrap: wrap;
    }

    @include breakpoint(xl) {
        margin-left: 0;
        justify-content: space-between;
    }
}

.litigation__item {
    padding: 15px;
    background: linear-gradient(153.68deg, rgba(102, 103, 171, 0.1) 5.14%, rgba(255, 255, 255, 0.05) 74.73%);
    height: auto;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    border-radius: 20px;
    box-sizing: border-box;

    @include breakpoint(lg) {
        margin-bottom: 20px;
        margin-left: 20px;
        display: flex;
        width: calc((100% / 3) - 20px);
    }

    @include breakpoint(xl) {
        margin-bottom: 40px;
        margin-left: 0;
        padding: 25px;
        width: calc((100% / 3) - (80px / 3));
        height: 144px;
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25);
    }
}

.litigation__icon {
    margin: 0 auto;
    width: 50px;
    height: 50px;

    @include breakpoint(lg) {
        margin: 0;
        margin-right: 10px;
        flex-shrink: 0;
    }

    @include breakpoint(xl) {
        margin-right: 20px;
    }
}

.litigation__label {
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    @include breakpoint(lg) {
        margin-top: 0;
        text-align: left;
    }
}

.litigation__text {
    margin-top: 8px;
    font-weight: 300;
    font-size: 15px;
    text-align: center;

    @include breakpoint(lg) {
        text-align: left;
    }
}

.litigation .swiper-pagination {
    margin-top: 30px;

    @include breakpoint(md) {
        display: flex;
    }

    @include breakpoint(lg) {
        display: none;
    }
}

.payments-type__wrap {

    @include breakpoint(md) {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }
}

.payments-type__desc {

    @include breakpoint(md) {
        width: calc(50% - 10px);
    }

    @include breakpoint(lg) {
        width: calc(((100% / 12) * 7) - 10px);
    }

    @include breakpoint(xl) {
        width: calc(((100% / 12) * 6) - 10px);
    }
}

.payments__var {
    margin-bottom: 18px;
    padding: 10px;
    background: linear-gradient(153.84deg, rgba(102, 103, 171, 0.1) 5.12%, rgba(255, 255, 255, 0.05) 74.38%);
    display: flex;
    max-width: 360px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    @include breakpoint(md) {
        margin-bottom: 10px;
        padding: 20px;
        max-width: unset;
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
    }
}

.payments__var-num {
    margin-right: 8px;
    background: #313155;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    border-radius: 30px;

    @include breakpoint(md) {
        margin-right: 20px;
        width: 40px;
        height: 40px;
        font-size: 25px;
        line-height: 30px;
    }
}

.payments__var-block {
    margin-top: 5px;
    width: 100%;
    cursor: pointer;
}

.payments__var-label {
    display: flex;
}

.payments__var-label p {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    @include breakpoint(lg) {
        font-size: 18px;
        line-height: 22px;
    }
}

.payments__var-label .arrow-down {
    margin-left: 6px;
    width: 20px;
    height: 20px;
}

.payments__var-block.opened .arrow-down {
    transform: rotate(180deg);
}

.payments__var-label .arrow-down::before {
    background-position: center center;
    display: flex;
    width: 100%;
    height: 100%;
}

.payments__var-text {
    margin-top: 5px;
    display: none;
    font-weight: 300;
    font-size: 15px;
}

.payments__guarantee {
    margin-top: 30px;

    @include breakpoint(md) {
        display: flex;
        justify-content: space-between;
    }

    @include breakpoint(lg) {
        margin-bottom: 20px;
    }

    @include breakpoint(xl) {
        margin-top: 55px;
    }
}

.payments__guarantee-block {
    margin-top: 20px;
    display: flex;
    width: 100%;

    @include breakpoint(md) {
        display: block;
        width: calc(50% - 10px);
    }

    @include breakpoint(lg) {
        display: flex;
    }
}

.payments__guarantee-icon {
    margin-right: 12px;
    flex-shrink: 0;
    width: 30px;
    height: 30px;

    @include breakpoint(md) {
        margin-right: 0;
        margin-bottom: 12px;
    }

    @include breakpoint(lg) {
        margin-right: 24px;
        width: 50px;
        height: 50px;
    }
}

.payments__guarantee-label {
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    @include breakpoint(md) {
        margin-bottom: 12px;
        font-size: 18px;
    }
}

.payments__guarantee-text  {
    font-weight: 300;
    font-size: 15px;
}

.payments-type__img {
    display: none;

    @include breakpoint(md) {
        display: block;
        width: calc(50% - 10px);
    }

    @include breakpoint(lg) {
        width: calc(((100% / 12) * 5) - 10px);
    }
}

.scheme-container .section-title {

    @include breakpoint(xl) {
        margin: 0 auto 60px;
        max-width: 900px;
    }
}

.scheme {

    @include breakpoint(md) {
        display: flex;
        justify-content: space-between;
        max-width: 768px;
    }

    @include breakpoint(lg) {
        max-width: 960px;
    }

    @include breakpoint(xl) {
        max-width: 100%;
    }
}

.scheme__items {

    @include breakpoint(md) {
        width: calc((100% / 12 * 6) - 10px);
    }

    @include breakpoint(lg) {
        width: calc((100% / 12 * 5) + 20px);
    }

    @include breakpoint(xl) {
        margin-left: 75px;
        width: calc((100% / 12 * 5) - 80px);
    }
}

.scheme__item {
    margin-bottom: 42px;
    position: relative;
    display: flex;

    @include breakpoint(md) {
        margin-bottom: 40px;
    }

    @include breakpoint(lg) {
        margin-bottom: 60px;
    }
}

.scheme__item::after {
    content: '';
    position: absolute;
    top: 40px;
    left: 15px;
    display: block;
    height: calc(100% - 10px);
    border-left: 1px dashed #C4C4C4;

    @include breakpoint(md) {
        top: 50px;
        left: 20px;
        height: calc(100% - 20px);
    }

    @include breakpoint(lg) {
        height: 100%;
    }
}

.scheme__item:last-child::after {
    content: none;
}

.scheme__number {
    margin-right: 10px;
    background: #313155;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    border-radius: 30px;

    @include breakpoint(md) {
        margin-right: 15px;
        width: 40px;
        height: 40px;
        font-size: 25px;
        line-height: 30px;
    }
}

.scheme__block-label {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    @include breakpoint(md) {
        font-size: 18px;
        line-height: 22px;
    }
}

.scheme__block-text {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
}

.scheme__block-text a {
    margin-top: 10px;
    display: block;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-decoration-line: underline;
    color: #6667AB;
}

.scheme__steps {
    display: none;

    @include breakpoint(md) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 275px;
    }

    @include breakpoint(lg) {
        width: calc(100% / 12 * 5 + 10px);
    }

    @include breakpoint(xl) {
        margin-right: 102px;
        width: calc(100% / 12 * 4 + 10px);
    }
}

.scheme__step {

    @include breakpoint(md) {
        margin-bottom: 65px;
        position: relative;
        width: 102px;
    }
}

.scheme__step:nth-child(2),
.scheme__step:nth-child(4) {

    @include breakpoint(lg) {
        margin-left: 200px;
    }
}

.scheme__step-label {

    @include breakpoint(md) {
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }
}

.scheme__step-icon {

    @include breakpoint(md) {
        background: linear-gradient(153.84deg, rgba(102, 103, 171, 0.1) 5.12%, rgba(255, 255, 255, 0.05) 74.38%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 102px;
        height: 102px;
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(7.5px);
        border-radius: 20px;
    }
}

.scheme__step:nth-child(2) .scheme__step-icon::before {

    @include breakpoint(md) {
        content: '';
        position: absolute;
        top: 50%;
        right: calc(100% + 10px);
        display: block;
        width: 54px;
        height: 1px;
        border-top: 1px dashed #C4C4C4;
    }

    @include breakpoint(lg) {
        width: 180px;
    }
}

.scheme__step:nth-child(2) .scheme__step-icon::after {

    @include breakpoint(md) {
        content: '';
        position: absolute;
        top: calc(100% + 10px);
        display: block;
        width: 1px;
        height: 55px;
        border-left: 1px dashed #C4C4C4;
    }
}

.scheme__step:nth-child(3) .scheme__step-icon::before {

    @include breakpoint(md) {
        content: '';
        position: absolute;
        top: 50%;
        left: calc(100% + 10px);
        display: block;
        width: 54px;
        height: 1px;
        border-top: 1px dashed #C4C4C4;
    }

    @include breakpoint(lg) {
        width: 180px;
    }
}

.scheme__step:nth-child(3) .scheme__step-icon::after {

    @include breakpoint(md) {
        content: '';
        position: absolute;
        top: calc(100% + 10px);
        display: block;
        width: 1px;
        height: 55px;
        border-left: 1px dashed #C4C4C4;
    }
}

.scheme__step-icon img {

    @include breakpoint(md) {
        width: 50px;
    height: 50px;
    }
}

.t-lawyer-container .section-title {

    @include breakpoint(xl) {
        margin: 0 auto 60px;
        max-width: 900px;
    }
}

.t-lawyer {
    padding: 30px 12px 12px;
    background: linear-gradient(110.52deg, rgba(102, 103, 171, 0.15) 0%, rgba(255, 255, 255, 0.05) 100.38%);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 26px;
    overflow: hidden;

    @include breakpoint(md) {
        padding: 30px;
    }

    @include breakpoint(lg) {
        padding: 40px;
        position: relative;
    }

    @include breakpoint(xl) {
        padding: 60px 100px;
    }
}

.t-lawyer .swiper {
    overflow: visible;
}

.t-lawyer__item {
    box-sizing: border-box;

    @include breakpoint(md) {
        display: flex;
    }
}

.t-lawyer__profile {

    @include breakpoint(md) {
        width: calc(100% / 12 * 4 - 5px);
        max-width: 200px;
    }

    @include breakpoint(lg) {
        width: calc(100% / 12 * 5);
        max-width: unset;
    }
}

.t-lawyer__image {
    margin: 0 auto 16px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;

    @include breakpoint(md) {
        margin: 0 auto 20px;
        width: 180px;
        height: 180px;
    }

    @include breakpoint(lg) {
        width: 340px;
        height: 340px;
    }

    @include breakpoint(xl) {
        width: 387px;
        height: 387px;
    }
}

.t-lawyer__name {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;

    @include breakpoint(md) {
        font-size: 18px;
        line-height: 22px;
    }

    @include breakpoint(lg) {
        margin: 0 auto 10px;
        max-width: 310px;
    }
}

.t-lawyer__order {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    @include breakpoint(lg) {
        margin: 0 auto;
        max-width: 310px;
    }
}

.t-lawyer__info {
    margin-top: 30px;

    @include breakpoint(md) {
        margin-top: 0;
        margin-left: 30px;
        width: calc(100% / 12 * 8 - 5px);
    }

    @include breakpoint(lg) {
        margin-left: 20px;
        width: calc(100% / 12 * 5);
    }

    @include breakpoint(xl) {
        margin-left: 100px;
    }
}

.t-lawyer__info-row {
    margin-bottom: 34px;
}

.t-lawyer__info-row p:first-child {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    @include breakpoint(md) {
        font-size: 18px;
    }
}

.t-lawyer__info-row p:last-child {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
}

.t-lawyer__info-row ul li {
    margin-bottom: 8px;
    position: relative;

    @include breakpoint(md) {
        margin-bottom: 10px;
    }
}

.t-lawyer__info-row ul li::before {
    content: '';
    margin-right: 15px;
    background: #6667AB;
    display: inline-block;
    width: 10px;
    height: 10px;
    box-shadow: 0px 4px 10px #6667AB;
    border-radius: 50%;
}

.t-lawyer__btn {
    margin: -14px auto 0;
    padding: 5px 0;
    max-width: 256px;
    text-align: center;

    @include breakpoint(md) {
        margin: 0;
        padding: 14px 0;
        max-width: 308px;
    }
}

.t-lawyer .image-pagination {

    @include breakpoint(md) {
        margin-top: 50px;
    }

    @include breakpoint(lg) {
        margin: 0;
        position: absolute;
        top: 0;
        left: unset;
        right: 40px;
        bottom: unset;
        flex-direction: column;
        width: auto;
        height: 100%;
    }

    @include breakpoint(xl) {
        right: 30px;
    }
}