.int-services {

    .hero__title h1, #hero-title {
        @include breakpoint(md) {
            font-size: 25px;
        }

        @include breakpoint(lg) {
            font-size: 35px;
            line-height: 117%;
        }

    }

    .hero__main {
        @include breakpoint(lg) {
            width: calc(((100% / 12) * 6) - 10px);
            margin-right: 60px;
        }

        @include breakpoint(xl) {
              width: calc(((100% / 12) * 5) - 10px);
        }
    }

    .hero__btn {
        @include breakpoint(md) {
            margin-bottom: 40px;
        }
    }

    .hero__img {
        @include breakpoint(lg) {
            padding: 30px 0;
        }
    }

    .hero__text {
        @include breakpoint(xl) {
            max-width: 407px;
        }
    }

    .our-team-wrapper {
        margin-bottom: 30px;
    }

    .experience {
        margin-bottom: 30px;
    }

}



.acc__mob {
    @include breakpoint(md) {
        display: none;
    }
}
  
.acc__card {
    margin-bottom: 20px;

    @include breakpoint(md) {
        
    }

}

.acc__card.is-active {
    .acc__title .arrow-down:before {
        transform: rotate(0deg);
    }

    .acc__title-inner {
        color: #6667AB;
    }
}
  
.acc__title {
    background: linear-gradient(153.84deg, rgba(102, 103, 171, 0.1) 5.12%, rgba(255, 255, 255, 0.05) 74.38%);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    position: relative;

    .arrow-down {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 15px;
        right: 10px;
        
        &:before {
            background: inline('arrow-right.svg');
            width: 7px;
            height: 12px;
            transform: rotate(90deg);
            transition: all .3s ease;
        }
    }
    
    
  
}

.acc__title-icon {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background: #313155;
    border-radius: 50%;
}

.acc__title-inner {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin-left: 10px;
    display: flex;
    align-items: center;
    max-width: 90%;
}

.acc__title::after {

}
.acc__title.active::after {
    transform: rotate(45deg);
    transition: all 0.2s ease-in-out;
}
  
.acc__panel {
    display: none;
    padding-top: 20px;
}

.acc__panel-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 30px;
}
.acc__panel-items {
    display: flex;
    flex-wrap: wrap;
}
.acc__panel-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        color: #000000;
        margin-bottom: 8px;
    }

    li {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 8px;
        color: #000000;
        margin-bottom: 8px;
    }

  
    ol {
        counter-reset: count;
        list-style-type: none;
        ul.c-banner__list li {
            margin-left: 10px;



            &::before {
                content: '';
            }
        }
    }

    
    ol li {
        
        &::before {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            color: #6667AB;
            content: counter(count)". ";
            counter-increment: count;
        }
    }


}
.acc__panel-item-img {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
}
.acc__panel-item-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #6667AB;
    margin-top: 12px;
    margin-bottom: 8px;
}
.acc__panel-item-text {
}
.acc__panel-important {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background: #42436F;
    border-radius: 20px;
    margin-bottom: 30px;

    @include breakpoint(lg) {
        padding: 38px 30px 0 30px;
    }

    @include breakpoint(xl) {
        padding: 65px 35px 0 40px;
    }

}
.acc__panel-important-content {

    @include breakpoint(lg) {
        width: calc( 100% - 175px );
    }

}
.acc__panel-important-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.acc__panel-important-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;

    @include breakpoint(lg) {
        max-width: 307px;
    }

}
.acc__panel-important-img {
    display: none;
    

    @include breakpoint(lg) {
        display: flex;

        width: 175px;
    }

}
.acc__panel-callback {
    display: flex;
    flex-direction: column;
    background: linear-gradient(153.84deg, rgba(102, 103, 171, 0.1) 5.12%, rgba(255, 255, 255, 0.05) 74.38%);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 20px;

    @include breakpoint(md) {
        padding:  20px 35px;
    }      

    @include breakpoint(lg) {
        padding: 40px;
    }

}
.acc__panel-callback-title {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;

color: #000000;
}
.acc__panel-callback-text {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 18px;

color: #000000;
margin-top: 11px;
margin-bottom: 30px;


}
.acc__panel-callback-btn {
    width: 224px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-style {
}

.acc__panel-grave {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #42436F;
    border-radius: 20px;
    margin-bottom: 30px;

    @include breakpoint(md) {
        padding: 30px 20px;
    }

    @include breakpoint(lg) {
        padding: 40px 30px;
    }

}
.acc__panel-grave-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 30px;
        color: #FFFFFF;
    }

}
.acc__panel-grave-img {
    width: 26px;
    height: 40px;
    margin-right: 15px;
}
.acc__panel-grave-content {

    ul {
        counter-reset: count;
        list-style-type: none;
    }

    ul li {
        font-family: 'Montserrat';
        font-style: normal;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;

        margin-bottom: 8px;

        b {
            color: #fff;
        }

        &:before {
            content: counter(count)". ";
            counter-increment: count;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            color: #FFFFFF;
        }
    }

    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
        margin-bottom: 8px;
    }

    ul li ul {
        margin-top: 10px;
    }

    ul li ul li {
        list-style: disc;
        margin-left: 25px;



        &::before {
            content: none;
        }
    }

}

.acc__panel-grave--light {
    background: linear-gradient(153.84deg, rgba(102, 103, 171, 0.1) 5.12%, rgba(255, 255, 255, 0.05) 74.38%);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    .acc__panel-grave-content-title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        color: #6667AB;
        margin-bottom: 8px;
    }


    .acc__panel-grave-title span {
        display: none;
    }

    ul {

    }


    ul li {
        font-family: 'Montserrat';
        font-style: normal;
        font-size: 15px;
        line-height: 1.8rem;
        color: #000000;
        margin-bottom: 8px;


        &::before {
            content: '';
        }
    }

    .acc__panel-grave-img {
        width: 30px;
        height: 30px;
    }


    
    @include breakpoint(md) {
        padding: 30px 20px;
    }

    @include breakpoint(lg) {
        padding: 40px 30px;
    }
}

.acc__desc-content .acc__desc-tab:not(:first-child) {
    display: none;
}


.acc__desc {
    display: none;

    @include breakpoint(md) {
        display: flex;
        flex-wrap: wrap;
    }

}
.acc__desc-nav {
    display: flex;
    flex-direction: column;

    width: calc(((100% / 12) * 5) - 10px);
    margin-right: 60px;
    @include breakpoint(lg) {
        
    }
}
.acc__desc-nav-item {
    display: flex;
    flex-direction: row;
    background: linear-gradient(153.84deg, rgba(102, 103, 171, 0.1) 5.12%, rgba(255, 255, 255, 0.05) 74.38%);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 15px;
    box-sizing: border-box;
    position: relative;

   .arrow-down {
        width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 15px;
        right: 10px;

        &::before {
            background: inline('arrow-right.svg');
            width: 7px;
            height: 12px;
            transform: rotate(90deg);
            transition: all .3s ease;
        }
    }
}

.acc__desc-nav-item.active {

    .acc__desc-nav-item-inner {
        color: #6667AB;
    }
    
   .arrow-down:before {
        transform: rotate(0deg);
    }

}


.acc__desc-nav-item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    background: #313155;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 10px;
}
.acc__desc-nav-item-inner {
    width: 85%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    @include breakpoint(lg) {
        max-width: 363px;
    }

}
.arrow-down {
}
.acc__desc-content {
    width: calc(((100% / 12) * 6) - 10px);
}
.acc__desc-tab {

    ul.c-banner__list {
        max-height: 100%;
        margin-left: 5px;
        li {
            width: 100%;
            @include breakpoint(lg) {
                margin-left: 0;
            }
        }

        @include breakpoint(lg) {
            margin-left: 0;
            margin-top: 20px;
        }

    }

}

.section__blockquotes {
    margin-bottom: 30px;
    @include breakpoint(md) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    @include breakpoint(lg) {
        margin-bottom: 60px;
    }

}

.section__blockquote {
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    padding-left: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    &::before {
        position: absolute;
        content: '';
        background: #6667AB;
        width: 4px;
        height: 100%;
        left: 0;
        top: 0;
    }

    &:first-child {
        @include breakpoint(md) {
            width: calc(((100% / 12) * 7) - 10px);
        }
    }

    &:last-child {
        @include breakpoint(md) {
            width: calc(((100% / 12) * 5) - 10px);
        }
    }
}

.acc__panel-list {
    counter-reset: count;
    list-style-type: none;


    .acc__panel-list-item {
        display: flex;
        flex-direction: row;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        color: #000000;
        align-items: center;
        margin-bottom: 20px;
    
        &::before {
            content: '';
            width: 40px;
            height: 40px;
            min-width: 40px;
            min-height: 40px;
            background: #313155;
            content: counter(count)"";
            counter-increment: count;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 30px;
            text-align: center;
            color: #FFFFFF;
            margin-right: 20px;
            align-self: flex-start;
        }
    }

}

.tab__variants {

    overflow: hidden;

    .what-autsorsing-do__item {
        height: auto;
        box-sizing: border-box;
        margin: 0;
    }

    .what-autsorsing-do__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: #000000;
        margin-top: 40px;
    }
    
    .what-autsorsing-do__text {
        margin-bottom: 50px;
    }

    .what-autsorsing-do__btn {
        margin-top:auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}


.acc__panel-list-inner {
    padding: 20px 0;
}

.acc__panel-list-inner-item {
    position: relative;
    display: flex;
    flex-direction: row;
    &::before {
        content: '';
        background: #6667AB;
        display: flex;
        flex-shrink: 0;
        width: 10px;
        height: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, .3);
        border-radius: 50%;
        margin-right: 15px;
    }
}