mixin hero(title, text, image)

    .hero-section

        .hero

            .container

                .hero__inner

                    .hero__main

                        .hero__title
                            h1= title
                            #hero-title
                        .hero__text= text
                        button.hero__btn.button-style(data-popup) Оставить заявку

                    .hero__img
                        img(src="assets/images/" + image, alt="img")

        .hero__bottom

            .container

                .hero__nav

                    .swiper

                        .swiper-wrapper

                            .hero__nav-item.swiper-slide
                                a.hero__nav-link(href="#") Комплекное сопровождение бизнеса

                                ul.hero__submenu
                                    li.hero__submenu-item
                                        a.hero__submenu-link(href="#") Юридическое сопровождение
                                        ul.submenu__list
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Эконом — 40 000 руб.
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Базовый — 65 000 руб.
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Полный — 40 000 руб.
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Премиум — 40 000 руб.

                                    li.hero__submenu-item
                                        a.hero__submenu-link(href="#") Договоры
                                        ul.submenu__list
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Правовая экспертиза
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Подготовка договоров
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Разработка договорной базы
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Допсоглашение и протоколы

                                    li.hero__submenu-item
                                        a.hero__submenu-link(href="#") Налоговая оптимизация и учет
                                        ul.submenu__list
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Налоговое планирование
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Налоговая оптимизация

                                    li.hero__submenu-item
                                        a.hero__submenu-link(href="#") Правовой аудит
                                        ul.submenu__list
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Аудит бизнеса
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Аудит ВЭД
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Нематериальные активы
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Аудит финансов
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Аудит налоговой нагрузки

                                    li.hero__submenu-item
                                        a.hero__submenu-link(href="#") Недвижимость
                                        ul.submenu__list
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Сопровождение сделок

                                    li.hero__submenu-item
                                        a.hero__submenu-link(href="#") Интеллектуальная собственность
                                        ul.submenu__list
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Лицензионное соглашение
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Товарный знак
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Патент на изобретение
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Патент на полезную модель
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Патент на промобразец
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") МКТУ

                                    li.hero__submenu-item
                                        a.hero__submenu-link(href="#") Регистрация бизнеса
                                        ul.submenu__list
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Регистрация фирмы
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Регистрация за рубежом
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Регистрация изменений
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Ликцидация
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Реорганизация

                                    li.hero__submenu-item
                                        a.hero__submenu-link(href="#") Консультации
                                        ul.submenu__list
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Налоговое право
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Гражданское право
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Корпоративное право
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Трудовое право
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Проведение рекламных акций
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Защита персональных данных

                                    li.hero__submenu-item
                                        a.hero__submenu-link(href="#") Сопровождение инвест.проектов
                                        ul.submenu__list
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Юридическое сопровождение

                            .hero__nav-item.swiper-slide
                                a.hero__nav-link(href="#") Бухгалтерия и&nbsp;финансы
                                ul.hero__submenu
                                    li.hero__submenu-item
                                        a.hero__submenu-link(href="#") Юридическое сопровождение
                                        ul.submenu__list
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Эконом — 40 000 руб.
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Базовый — 65 000 руб.
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Полный — 40 000 руб.
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Премиум — 40 000 руб.

                                    li.hero__submenu-item
                                        a.hero__submenu-link(href="#") Договоры
                                        ul.submenu__list
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Правовая экспертиза
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Подготовка договоров
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Разработка договорной базы
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Допсоглашение и протоколы

                                    li.hero__submenu-item
                                        a.hero__submenu-link(href="#") Налоговая оптимизация и учет
                                        ul.submenu__list
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Налоговое планирование
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Налоговая оптимизация


                            .hero__nav-item.swiper-slide
                                a.hero__nav-link(href="#") Юриспруденция

                            .hero__nav-item.swiper-slide
                                a.hero__nav-link(href="#") Кадры

                            .hero__nav-item.swiper-slide
                                a.hero__nav-link(href="#") Суды

                            .hero__nav-item.swiper-slide
                                a.hero__nav-link(href="#") Иностранным компаниям