---
text: FLC | Бухгалтерский аутсорсинг
---

extends includes/_page

block main

    section.what-we-do 

        .container 

            .section-title Чем мы занимаемся

            .wwdo__items

                .swiper-wrapper 

                    .wwdo__item.swiper-slide

                        .wwdo__item-icon 
                            img(src="assets/images/wwd1.svg", alt="")
                            img(src="assets/images/wwd1bg.png", alt="")

                        .wwdo__item-text 10 лет работы на рынке бухгалтерского аутсорсинга

                    .wwdo__item.swiper-slide

                        .wwdo__item-icon 
                            img(src="assets/images/wwd2.svg", alt="")
                            img(src="assets/images/wwd2bg.png", alt="")

                        .wwdo__item-text 100% компенсация штрафных санкций. Наша ответственность застрахована
                    .wwdo__item.swiper-slide

                        .wwdo__item-icon 
                            img(src="assets/images/wwd3.svg", alt="")
                            img(src="assets/images/wwd3bg.png", alt="")

                        .wwdo__item-text Отстроенные бизнес-процессы работы с Клиентами

                    .wwdo__item.swiper-slide

                        .wwdo__item-icon 
                            img(src="assets/images/wwd4.svg", alt="")
                            img(src="assets/images/wwd4bg.png", alt="")

                        .wwdo__item-text Использование новейших технологий в работе

                    .wwdo__item.swiper-slide

                        .wwdo__item-icon 
                            img(src="assets/images/wwd5.svg", alt="")
                            img(src="assets/images/wwd5bg.png", alt="")

                        .wwdo__item-text Качество услуг — проверяется аудиторами FLC

                    .wwdo__item.swiper-slide

                        .wwdo__item-icon 
                            img(src="assets/images/wwd6.svg", alt="")
                            img(src="assets/images/wwd6bg.png", alt="")

                        .wwdo__item-text У нас работают только ведущие и главные бухгалтера, постоянно проходящие обучение

                .wwde__pagination