---
title : FLC | Бухгалтерский аутсорсинг
---

extends includes/_page

block hero
    include components/_hero
    +hero('Full Legal Consulting',
          'Российская аутсорсинговая компания FLC — все виды услуг для вашего бизнеса в одной компании! Профессиональная команда аутсорсеров с встроенными в ваш бизнес процессами работы и проактивной позицией',
          'hero-1.svg')

block main

    section.what-we-do 

        .container 

            .section-title Чем мы занимаемся

            .wwdo__items

                .swiper-wrapper 

                    .wwdo__item.swiper-slide

                        .wwdo__item-icon 
                            img(src="assets/images/wwd1.svg", alt="")
                            img(src="assets/images/wwd1bg.png", alt="")

                        .wwdo__item-text 10 лет работы на рынке бухгалтерского аутсорсинга

                    .wwdo__item.swiper-slide

                        .wwdo__item-icon 
                            img(src="assets/images/wwd2.svg", alt="")
                            img(src="assets/images/wwd2bg.png", alt="")

                        .wwdo__item-text 100% компенсация штрафных санкций. Наша ответственность застрахована
                    .wwdo__item.swiper-slide

                        .wwdo__item-icon 
                            img(src="assets/images/wwd3.svg", alt="")
                            img(src="assets/images/wwd3bg.png", alt="")

                        .wwdo__item-text Отстроенные бизнес-процессы работы с Клиентами

                    .wwdo__item.swiper-slide

                        .wwdo__item-icon 
                            img(src="assets/images/wwd4.svg", alt="")
                            img(src="assets/images/wwd4bg.png", alt="")

                        .wwdo__item-text Использование новейших технологий в работе

                    .wwdo__item.swiper-slide

                        .wwdo__item-icon 
                            img(src="assets/images/wwd5.svg", alt="")
                            img(src="assets/images/wwd5bg.png", alt="")

                        .wwdo__item-text Качество услуг — проверяется аудиторами FLC

                    .wwdo__item.swiper-slide

                        .wwdo__item-icon 
                            img(src="assets/images/wwd6.svg", alt="")
                            img(src="assets/images/wwd6bg.png", alt="")

                        .wwdo__item-text У нас работают только ведущие и главные бухгалтера, постоянно проходящие обучение

                .wwde__pagination

    section.outsourcing-options

        .container 

            .section-title
                span Варианты бухгалтерского аутсорсинга FLC

            .section-text Выберите наиболее подходящий для Вашего бизнеса

            .outsourcing-options__items 

                .swiper-wrapper 

                    .outsourcing-option.swiper-slide

                        .outsourcing-option__title
                            span Комплексное бухгалтерское сопровождение

                        .outsourcing-option__desc По пакету «Функции главного бухгалтера»
 
                        .outsourcing-option__desc По пакету «Комплексное бухгалтерское сопровождение»

                        .outsourcing-option__list-title Отраслевые коэффициенты + для компаний

                        ul.outsourcing-option__list

                            li Налоговое планирование
                            li Финансовое управление
                            li Подготовка и сдача отчетности
                            li Расчет З/П
                            li Общение с налоговой
                            li Консультирование
                            li Управление и контроль за штатными бухгалтерами
                            li Подготовка финансовых показателей
                            li
                                b Ведение первичной документации
                            li 
                                b Архивирование и хранение документов

                        .outsourcing-option__wrapper

                            .outsourcing-option__text Ответственность застрахована

                            .outsourcing-option__price.button-style От 50 000/60 000 рублей

                    .outsourcing-option.swiper-slide

                        .outsourcing-option__title
                            span Комплексное бухгалтерское сопровождение

                        ul.outsourcing-option__list

                            li Налоговое планирование
                            li Финансовое управление
                            li Подготовка и сдача отчетности
                            li Расчет З/П
                            li Общение с налоговой
                            li Консультирование
                            li Управление и контроль за штатными бухгалтерами
                            li Подготовка финансовых показателей
                            li
                                b Ведение первичной документации
                            li 
                                b Архивирование и хранение документов

                        .outsourcing-option__wrapper

                            .outsourcing-option__text Ответственность застрахована

                            .outsourcing-option__price.button-style От 60 000 рублей

                    .outsourcing-option.swiper-slide

                        .outsourcing-option__title
                            span Комплексное бухгалтерское сопровождение

                        ul.outsourcing-option__list

                            li Налоговое планирование
                            li Финансовое управление
                            li Подготовка и сдача отчетности
                            li Расчет З/П
                            li Общение с налоговой
                            li Консультирование
                            li Управление и контроль за штатными бухгалтерами
                            li Подготовка финансовых показателей
                            li
                                b Ведение первичной документации
                            li 
                                b Архивирование и хранение документов

                        .outsourcing-option__wrapper
                        
                            .outsourcing-option__text Ответственность застрахована

                            .outsourcing-option__price.button-style От 60 000 рублей

                    .outsourcing-option.swiper-slide

                        .outsourcing-option__title
                            span Комплексное бухгалтерское сопровождение

                        ul.outsourcing-option__list

                            li Налоговое планирование
                            li Финансовое управление
                            li Подготовка и сдача отчетности
                            li Расчет З/П
                            li Общение с налоговой
                            li Консультирование
                            li Управление и контроль за штатными бухгалтерами
                            li Подготовка финансовых показателей
                            li
                                b Ведение первичной документации
                            li 
                                b Архивирование и хранение документов

                        .outsourcing-option__wrapper

                            .outsourcing-option__text Ответственность застрахована

                            .outsourcing-option__price.button-style От 60 000 рублей

                .outsourcing-options__nav 

                    .outsourcing-options__nav-prev
                        img(src="assets/images/arrow-prev.svg", alt="")

                    .outsourcing-options__nav-next
                        img(src="assets/images/arrow-next.svg", alt="")

                .outsourcing-options__pagination

    section.payment-variants 

        .container 

            .section-title Чем мы занимаемся

            .section-text Подберем наиболее удобный для Вас

            .payment-variants__items 

                .payment-variant

                    .payment-variant__title Цена от количества операций

                    .payment-variant__content 

                        .payment-variant__text 

                            p Подходит для:
                            ul 
                                li растущих компаний,
                                li компаний с ярко выраженной сезонностью,
                                li стартапов 

                        .payment-variant__icon 
                            img(src="assets/images/pay-ic1.svg", alt="")


                .payment-variant

                    .payment-variant__title Фиксированная цена

                    .payment-variant__content 

                        .payment-variant__text 

                            p Подходит для:
                            ul 
                                li компаний с незначительными колебаниями объемов 

                        .payment-variant__icon 
                            img(src="assets/images/pay-ic2.svg", alt="")

            