---
title: FLC | Ссылки на страницы
bodyClass: main-page
---

extends includes/_page

block main

    style.
        li {
            padding: 5px 0;
            border-top: 1px solid #d9d1d1;
        }

        li:first-child {
            border-top: none;
        }

        li:hover {
            color: #6667AB;
        }

    section

        .container

            h1 Ссылки на страницы

            ul
                li
                    a(href="/" target="_blank") Главная
                li
                    a(href="buhgalterskij-autsorsing.html" target="_blank") Бухгалтерский аутсорсинг
                li
                    a(href="kadroviy-audit.html" target="_blank") Кадровый аудит
                li
                    a(href="kadrovyj-autsorsing.html" target="_blank") Кадровый аутсорсинг
                li
                    a(href="kompleksnoe-soprovozhdenie.html" target="_blank") Комплексное сопровождение бизнеса
                li
                    a(href="nalogovoe.html" target="_blank") Налоговое планирование
                li
                    a(href="pravovoj-audit.html" target="_blank") Правовой аудит
                li
                    a(href="sudebnoye.html" target="_blank") Судебное представительство
                li
                    a(href="uslugi-inostrannym-kompaniyam.html" target="_blank") Услуги иностранным компаниям
                li
                    a(href="yuridicheskoe-soprovozhdenie.html" target="_blank") Юридическое сопровождение

                li
                    a(href="consultation.html" target="_blank") Консультации по бухучету
                li
                    a(href="finance.html" target="_blank") Финансовые и налоговые консультации
                li
                    a(href="podgotovka.html" target="_blank") Подготовка бухгалтерской отчетности
                li
                    a(href="uslugi-po-raschyotu.html" target="_blank") Услуги по расчету заработной платы