---
title: FLC | Главная
bodyClass: main-page
---

extends includes/_page

block main

    style.
        li {
            padding: 5px 0;
            border-top: 1px solid #d9d1d1;
        }

        li:first-child {
            border-top: none;
        }

        li:hover {
            color: #6667AB;
        }

    section

        .container

            h1 Ссылки на страницы

            ul
                li
                    a(href="https://damir2302.github.io/FLC/www/" target="_blank") Главная
                li
                    a(href="https://damir2302.github.io/FLC/www/buhgalterskij-autsorsing.html" target="_blank") Бухгалтерский аутсорсинг
                li
                    a(href="https://damir2302.github.io/FLC/www/kadroviy-audit.html" target="_blank") Кадровый аудит
                li
                    a(href="https://damir2302.github.io/FLC/www/kadrovyj-autsorsing.html" target="_blank") Кадровый аутсорсинг
                li
                    a(href="https://damir2302.github.io/FLC/www/kompleksnoe-soprovozhdenie.html" target="_blank") Комплексное сопровождение бизнеса
                li
                    a(href="https://damir2302.github.io/FLC/www/nalogovoe.html" target="_blank") Налоговое планирование
                li
                    a(href="https://damir2302.github.io/FLC/www/pravovoj-audit.html" target="_blank") Правовой аудит
                li
                    a(href="https://damir2302.github.io/FLC/www/sudebnoye.html" target="_blank") Судебное представительство
                li
                    a(href="https://damir2302.github.io/FLC/www/uslugi-inostrannym-kompaniyam.html" target="_blank") Услуги иностранным компаниям
                li
                    a(href="https://damir2302.github.io/FLC/www/yuridicheskoe-soprovozhdenie.html" target="_blank") Юридическое сопровождение