---
title: FLC | Главная
bodyClass: main-page
---

extends includes/_page

block hero
    include components/_hero
    +hero('Full Legal Consulting',
          'Российская аутсорсинговая компания FLC — все виды услуг для вашего бизнеса в одной компании! Профессиональная команда аутсорсеров с встроенными в ваш бизнес процессами работы и проактивной позицией',
          'hero-1.svg')

block main

    section.section.business-support

        .container

            .section-title Комплексное сопровождение бизнеса

            .bus__support

                .bus__item
                    a(href="")
                        .bus__item-bg(style="background-image: url(assets/images/KSB-1.jpg)")
                        p Бухгалтерия

                .bus__item
                    a(href="")
                        .bus__item-bg(style="background-image: url(assets/images/KSB-2.jpg)")
                        p Налоговое планирование

                .bus__item
                    a(href="")
                        .bus__item-bg(style="background-image: url(assets/images/ksb-3.jpg)")
                        p Финансовое управление

                .bus__item
                    a(href="")
                        .bus__item-bg(style="background-image: url(assets/images/KSB-4.jpg)")
                        p Юрисприденция

                .bus__item
                    a(href="")
                        .bus__item-bg(style="background-image: url(assets/images/KSB-5.jpg)")
                        p Кадровый учет

                .bus__item
                    a(href="")
                     .bus__item-bg(style="background-image: url(assets/images/KSB-6.jpg)")
                        p ВЭД

                .bus__item
                    a(href="")
                        .bus__item-bg(style="background-image: url(assets/images/KSB-7.jpg)")
                        p Судебное представительство

    section.section.section-with-text.specific-offer

        .container

            .section-title Получить персональное предложение

            p.sp-offer__text Чтобы обсудить Ваши задачи и задать любые интересующие Вас вопросы, напишите нам в WhatsApp

            a.sp-offer__btn.button-style(href="#") Написать нам в WhatsApp

    section.section.ceo-banner

        .container

            .c-banner

                .c-banner__left
                    .c-banner__title Сопровождаем бизнес коммерческих компаний в России по следующим направлениям:

                    ul.c-banner__list
                        li Юридическое сопровождение;
                        li Бухгалтерский аутсорсинг;
                        li Финансовое и налоговое планирование;
                        li Аудит (бухгалтерский и правовой/Due Diligence);
                        li Кадровое сопровождение;
                        li ВЭД (импорт/экспорт);
                        li Корпоративный аутсорсинг;
                        li Судебное сопровождение;
                        li Сопровождение иностранных компаний в России;
                        li Интеллектуальная собственность.

                    a.c-banner__btn.button-style(href='#') Выбрать вид сопровождения

                .c-banner__right
                    .c-banner__img
                        img(src='assets/images/svetlana.png' alt='img')
                    .c-banner__info-wrap
                        .c-banner__name
                            span Светлана Буравцова
                            |  Генеральный директор
                        .c-banner__info Практика налогового планирования, внешнеэкономической деятельности  и правового аудита

    section.section.team-section

        .container

            .section-title Команда FLC

            .team

                .swiper

                    .swiper-wrapper

                        .team__block.swiper-slide
                            .team__image
                                img(src="assets/images/2625203_IMV_77482.jpg", alt="img")

                            .team__info
                                .team__info-name Светлана Буравцова

                                .team__desc
                                    .team__desc-label Генеральный директор
                                    .team__desc-text Практика налогового планирования, внешнеэкономической деятельности и правового аудита

                        .team__block.swiper-slide
                            .team__image
                                img(src="assets/images/2625200_IMV_76041.jpg", alt="img")

                            .team__info
                                .team__info-name Галина Ким

                                .team__desc
                                    .team__desc-label Руководитель
                                    .team__desc-text Департамент по налоговому планированию и бухгалтерскому учету

                        .team__block.swiper-slide
                            .team__image
                                img(src="assets/images/2625202_IMV_78031.jpg", alt="img")

                            .team__info
                                .team__info-name Раиль Сабитов

                                .team__desc
                                    .team__desc-label Руководитель
                                    .team__desc-text Департамент по внешнеэкономической деятельности и таможенному оформлению

                        .team__block.swiper-slide
                            .team__image
                                img(src="assets/images/2625199_IMV_73951.jpg", alt="img")

                            .team__info
                                .team__info-name Алексей Рубан

                                .team__desc
                                    .team__desc-label Руководитель
                                    .team__desc-text Департамент корпоративного и договорного права

                .mobile-slider.swiper-pagination

    section.section.experience-section.section-with-text

        .container

            .section-title Работаем с широким спектром сфер бизнеса
            .section-text За более чем 10-летний опыт работы мы приобрели и продолжаем сотрудничать с компаниями ведущими бизнес в следующих отраслях:

            .experience

                .swiper

                    .swiper-wrapper

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-1.svg", alt="icon")
                            .experience__label Производство
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-2.svg", alt="icon")
                            .experience__label Торговля
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-3.svg", alt="icon")
                            .experience__label Перевозки, логистика
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-4.svg", alt="icon")
                            .experience__label Финансовый сектор
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-5.svg", alt="icon")
                            .experience__label IT-технологии
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-6.svg", alt="icon")
                            .experience__label Сфера услуг
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-7.svg", alt="icon")
                            .experience__label Строительство
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-8.svg", alt="icon")
                            .experience__label Медицина
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-9.svg", alt="icon")
                            .experience__label Сельское хозяйство
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-10.svg", alt="icon")
                            .experience__label Переработка отходов
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                .mobile-slider.swiper-pagination

    section.section.cases-section

        .container

            .cases

                .section-title Наши достижения

                .cases__items

                    .swiper-wrapper

                        .cases__item.swiper-slide

                            .cases__item-wrap

                                a(href="assets/images/review3.png" data-fancybox).cases__item-img
                                    img(src="assets/images/review3.png", alt="")
                                    .cases__item-img-icon
                                        img(src="assets/images/plus-ic.svg", alt="")

                                .cases__item-content

                                    .cases__item-title Компания Baking Master

                                    p
                                        b Цель:&nbsp;
                                        | оптимизация затрат на персонал в рамках Бухглатерского аутсорсинга минимум на 18%

                                    p
                                        b Особенности:&nbsp;
                                        | продажа хлебопекарного и кондитерского сырья, оборудования и приспособлений от ведущих мировых производителей

                                    p
                                        b Результат:&nbsp;
                                        |  обширное возмещение НДС с положительным решением

                                    p
                                        b Срок:&nbsp;
                                        |  14 месяцев

                            p.cases__item-text Наша организация больше года сотрудничает с ООО «Полный юридический консалтинг» и передала на аутсорсинг ведение бухгалтерского учета. Это позволило нам оптимизировать свои затраты на персонал, а также минимизировать свое общение с государственными органами по вопросам учета и отчетности. Была проведена большая работа по возмещению НДС с положительным решением.<br> Сотрудники  ООО «Полный юридический консалтинг» всегда оперативно, четко и компетентно реагируют на запросы и выполняют поставленные задачи. При необходимости оказыват всесторонние консультации по возникающим вопросам.

                            h4 Генеральный директор ООО «БЭКИНГ МАСТЕР» Якимович А.В.

                            .rating-stars
                                span
                                    img(src="assets/images/star.svg", alt="")
                                span
                                    img(src="assets/images/star.svg", alt="")
                                span
                                    img(src="assets/images/star.svg", alt="")
                                span
                                    img(src="assets/images/star.svg", alt="")
                                span
                                    img(src="assets/images/star.svg", alt="")

                        .cases__item.swiper-slide

                            .cases__item-wrap

                                a(href="assets/images/review3.png" data-fancybox).cases__item-img
                                    img(src="assets/images/review3.png", alt="")
                                    .cases__item-img-icon
                                        img(src="assets/images/plus-ic.svg", alt="")

                                .cases__item-content

                                    .cases__item-title Компания Baking Master

                                    p
                                        b Цель:&nbsp;
                                        | оптимизация затрат на персонал в рамках Бухглатерского аутсорсинга минимум на 18%

                                    p
                                        b Особенности:&nbsp;
                                        | продажа хлебопекарного и кондитерского сырья, оборудования и приспособлений от ведущих мировых производителей

                                    p
                                        b Результат:&nbsp;
                                        |  обширное возмещение НДС с положительным решением

                                    p
                                        b Срок:&nbsp;
                                        |  14 месяцев

                            p.cases__item-text Наша организация больше года сотрудничает с ООО «Полный юридический консалтинг» и передала на аутсорсинг ведение бухгалтерского учета. Это позволило нам оптимизировать свои затраты на персонал, а также минимизировать свое общение с государственными органами по вопросам учета и отчетности. Была проведена большая работа по возмещению НДС с положительным решением.<br> Сотрудники  ООО «Полный юридический консалтинг» всегда оперативно, четко и компетентно реагируют на запросы и выполняют поставленные задачи. При необходимости оказыват всесторонние консультации по возникающим вопросам.

                            h4 Генеральный директор ООО «БЭКИНГ МАСТЕР» Якимович А.В.

                            .rating-stars
                                span
                                    img(src="assets/images/star.svg", alt="")
                                span
                                    img(src="assets/images/star.svg", alt="")
                                span
                                    img(src="assets/images/star.svg", alt="")
                                span
                                    img(src="assets/images/star.svg", alt="")
                                span
                                    img(src="assets/images/star.svg", alt="")

                    .cases__pagination.slider__pagination

                    .cases__nav
                        .cases__nav-prev
                            img(src="assets/images/arrow-prev.svg", alt="")
                        .cases__nav-next
                            img(src="assets/images/arrow-next.svg", alt="")

    section.section.results-section

        .container

            .section-title Результаты наших Клиентов после запуска работы с нами:

            .results

                .swiper

                    .swiper-wrapper

                        .results__item.swiper-slide
                            .results__diagram
                                .results__diagram-value(data-value=0 data-level=0)
                                    span 0
                                .results__diagram-value(data-value=33 data-level=3)
                                    span 0
                            .results__label Сэкономленные деньги вложили в развитие
                            .results__btn.button-style.button-style--light Узнать больше
                            .results__info
                                p Скорректировали порядок оплаты с Покупателями, чтобы не получать авансовые оплаты в конце квартала
                                .results__info-btn Скрыть

                        .results__item.swiper-slide
                            .results__diagram
                                .results__diagram-value(data-value=15 data-level=2)
                                    span 0
                                .results__diagram-value(data-value=32 data-level=3)
                                    span 0
                            .results__label Увеличили выручки
                            .results__btn.button-style.button-style--light Узнать больше
                            .results__info
                                p Уменьшили расходы на юриста на 33%
                                .results__info-btn Скрыть

                        .results__item.swiper-slide
                            .results__diagram
                                .results__diagram-value(data-value=5 data-level=1)
                                    span 0
                                .results__diagram-value(data-value=30 data-level=3)
                                    span 0
                            .results__label Увеличили время на развитие бизнеса
                            .results__btn.button-style.button-style--light Узнать больше
                            .results__info
                                p Уменьшили расходы на юриста на 33%
                                .results__info-btn Скрыть

                .mobile-slider.swiper-pagination

    section.section.trust-us-section.section-with-text

        .container

            .trust-us

                .section-title Нам доверяют
                .section-text 8 из 10 руководителей США и Евросоюза передали весь бизнес или его отдельные части на аутсорсинг.

                .trust-us-slider

                    .swiper-wrapper

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust1.png", alt="")
                            .trust-us__title  Япония

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust2.png", alt="")
                            .trust-us__title Россия

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust3.png", alt="")
                            .trust-us__title АОЭ, Дубай

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust4.png", alt="")
                            .trust-us__title Чехия

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust5.png", alt="")
                            .trust-us__title Чехия

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust6.png", alt="")
                            .trust-us__title Япония

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust1.png", alt="")
                            .trust-us__title Посольство Республики Индонезия в Москве

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust2.png", alt="")
                            .trust-us__title Япония

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust6.png", alt="")
                            .trust-us__title Япония

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust1.png", alt="")
                            .trust-us__title Посольство Республики Индонезия в Москве

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust2.png", alt="")
                            .trust-us__title Япония


                    .trust-us__pagination.slider__pagination

                    .trust-us__nav
                        .trust-us__nav-prev
                            img(src="assets/images/arrow-prev.svg", alt="")
                        .trust-us__nav-next
                            img(src="assets/images/arrow-next.svg", alt="")

    section.section.blog-section

        .container

            .section-title Блог

            .blog

                .blog__image
                    img(src="assets/images/blog.jpg", alt="img")

                .blog__desc
                    p.blog__subtitle Наши эксперты делятся своим опытом в блоге. Рассказываем о юридических тонкостях привычных для Вас вещей.

                    .blog__item
                        a(href="")
                            .blog__item-date 23 мая 2022
                            .blog__item-title Мораторий на банкротство в 2022 году

                    .blog__item
                        a(href="")
                            .blog__item-date 16 мая 2022
                            .blog__item-title Профвизит Роскомнадзора — к чему готовиться?

                    .blog__item
                        a(href="")
                            .blog__item-date 21 апреля 2022
                            .blog__item-title Санкционный комплаенс