---
title: FLC | Главная
---

extends includes/_page

block hero
    include components/_hero
    +hero('Full Legal Consulting',
          'Российская аутсорсинговая компания FLC — все виды услуг для вашего бизнеса в одной компании! Профессиональная команда аутсорсеров с встроенными в ваш бизнес процессами работы и проактивной позицией',
          'hero-1.svg')

block main