---
title : FLC | Кадровый аудит
bodyClass: kadr-aud
---

extends includes/_page

block hero
    include components/_hero
    +hero('Кадровый аудит',
          'Российская аутсорсинговая комипания  FLC (Full Legal Consulting) — все виды услуг по кадровому учету для бизнеса в одной компании!',
          'kadr-hero.svg')

block main

    section.what-we-do.section

        .container

            .section-title Чем мы занимаемся

            .wwdo__items

                .swiper-wrapper

                    .wwdo__item.swiper-slide

                        .wwdo__item-icon
                            img(src="assets/images/wwd1.svg", alt="")
                            img(src="assets/images/wwd1bg.png", alt="")

                        .wwdo__item-title Более 9 лет на рынке

                        .wwdo__item-text Работаем на рынке аутсорсинговых услуг по сопровождению бизнеса коммерческих компаний в России с 2013 года

                    .wwdo__item.swiper-slide

                        .wwdo__item-icon
                            img(src="assets/images/wwd6.svg", alt="")
                            img(src="assets/images/wwd6bg.png", alt="")

                        .wwdo__item-title Профи своего дела

                        .wwdo__item-text Являемся профессиональной командой аутсорсеров

                    .wwdo__item.swiper-slide

                        .wwdo__item-icon
                            img(src="assets/images/wwd5.svg", alt="")
                            img(src="assets/images/wwd5bg.png", alt="")

                        .wwdo__item-title Полное сопровождение

                        .wwdo__item-text Работаем с Клиентами как на полном сопровождении их бизнеса по всем  направлениям одновременно (Full support), так и на сопровождении отдельных направлений

                    .wwdo__item.swiper-slide

                        .wwdo__item-icon
                            img(src="assets/images/wwd3.svg", alt="")
                            img(src="assets/images/wwd3bg.png", alt="")

                        .wwdo__item-title Работаем во всех отраслях

                        .wwdo__item-text За 10 лет работы на рынке отработали схемы сопровождения коммерческих компаний по всем отраслям бизнеса



                .wwde__pagination

    section.site-tabs.section

        .container

            .section__tabs

                .tabs__nav

                    .swiper-wrapper

                        .tabs__nav-item.swiper-slide

                            a(href="#tab-1") Что решает кадровый аудит

                        .tabs__nav-item.swiper-slide

                            a(href="#tab-2") Когда нужен кадровый аудит


                        .tabs__nav-item.swiper-slide

                            a(href="#tab-3") Что проверяет кадровый аудит

                        .tabs__nav-item.swiper-slide

                            a(href="#tab-4") Виды кадрового аудита

                        .tabs__nav-item.swiper-slide

                            a(href="#tab-5") Стоимость кадрового аудита

                        .tabs__nav-item.swiper-slide

                            a(href="#tab-6") Отзывы

                .tabs__content

                    #tab-1.tabs__content-item

                        .section-tab-text.section-tab-text--max-width

                            .section-title Что решает кадровый аудит

                            p  Основная задача кадрового аудита – это проверка и выявление ошибок в ведении кадрового делопроизводства и налаживание бизнес-процессов по ведению кадрового учета, Следование рекомендациям из кадрового аудита позволит избежать нарушения трудового законодательства РФ и избежать штрафов.
                            p Важно! В Российском законодательстве нет градации штрафов за разные виды нарушения трудового законодательства, поэтому штрафы одинаковые как за отсутствие уведомления за 2 недели об очередном отпуске, как и за отсутствие трудового договора:
                            p Ст. 5.27. КоАП РФ Нарушение трудового законодательства и иных нормативных правовых актов, содержащих нормы трудового права
                            p 1. Нарушение трудового законодательства и иных нормативных правовых актов, содержащих нормы трудового права, если иное не предусмотрено частями 3, 4 и 6 настоящей статьи и статьей 5.27.1 настоящего Кодекса, — влечет наложение штрафа на юридических лиц — от 30 000 до 50 000 рублей.
                            p При этом за каждый отсутствующий или неправильно составленный документ штраф 30 000 руб., так как это все нарушение трудового законодательства!
                            p Закажите кадровый аудит и уберегите себя от проблем!

                            .button-style.section-tab-text__btn Оставить заявку

                    #tab-2.tabs__content-item

                        .section-tab-text.section-tab-text--max-width

                            .section-title Когда нужен кадровый аудит

                            p Аудит кадрового делопроизводства (далее — кадровый аудит или аудит) можно проводить в любое время, когда необходимо оценить степень соответствия имеющегося состояния кадровой документации требуемым законодательным нормам.
                            p Однако есть случаи, когда желательно провести аудит с целью устранения в будущем ответственности за допущенные ошибки и предупреждения привлечения к ответственности и т.д.:
                            ol
                                li «Конфликтное увольнение» сотрудника (ов) и необходимо подготовиться к возможной проверке инспектирующими органами.
                                li Сменился «кадровик» или целая команда специалистов, ведущих кадровое делопроизводство, и Вам нужно зафиксировать положение кадрового документооборота «до и после».
                                li Сменился руководитель (и \или команда топ –менеджмента) и Вам необходимо подготовить для руководства отчёт о настоящем состоянии дел документационного обеспечения трудовых отношений на предприятии.
                                li Вы получили от Инспекции по труду (или другой инспектирующей организации) предписание о плановой (или внеплановой) проверке и Вам требуется привести в соответствие с действующим законодательством кадровую документацию.
                                li В действующие статьи трудового законодательства были внесены изменения и требуется корректировка документации, регулирующей правовые отношения на Вашем предприятии.
                                li Вы практикуете регулярный аудит кадрового учёта, тогда проверке подлежит только документация текущего (или прошедшего) года \ периода.

                            .button-style.section-tab-text__btn Оставить заявку

                    #tab-3.tabs__content-item

                        .section-tab-text.section-tab-text--max-width

                            .section-title Что проверяет кадровый аудит

                            ol.roman
                                li Локально-нормативные акты – положения регулирующие разные процессы работы на предприятии:
                                ul
                                    li Положений о структурных подразделениях,
                                    li Положений о коммерческой тайне,
                                    li Правил внутреннего трудового распорядка,
                                    li Положений об оплате труда (системе мотивации),
                                    li Положений о защите персональных данных,
                                    li Положение о видеонаблюдении,
                                    li Положение об обучении,
                                    li Положение по подотчетным лицам,
                                    li Положение по командировкам,
                                    li Коллективный договор.

                                li Личные дела сотрудников
                                ul
                                    li Трудового договор,
                                    li Согласие на обработку персональных данных,
                                    li Соглашение о неразглашении конфиденциальной информации,
                                    li Соглашение о не конкуренции,
                                    li Приказ о приеме,
                                    li Заявление о приеме/о перечислении зп/на вычеты детей,
                                    li Приказы о переводе на другую работу/увеличении оклада,
                                    li Дополнительные соглашения к трудовому договору об увеличении оклада/о смене адреса местонахождения Работодателя (в случае смены адреса),
                                    li Карточки Т2,
                                    li Должностные инструкции
                                    li Разрешения на право привлечения иностранной рабочей силы

                                li Записи в Трудовые книжки
                                ul
                                    li Проверка записей в трудовых книжках
                                    li Проверка правильности ведения книги учета трудовых книжек
                                    li Проверка правильности оформления перехода на электронные трудовые книжки.

                                li Отпуска
                                ul
                                    li Приказов о предоставлении отпуска сотруднику,
                                    li Уведомления об очередном отпуске,
                                    li График отпусков
                                    li Разрешений на право привлечения иностранной рабочей силы,
                                    li Полномочий Руководителя компании в соответствии с Учредительными документами организации.

                                li Документы по командировке

                                li Документы по обучению

                                li Дисциплинарные взыскания
                                ul
                                    li Сроки – от 5 до 30 р/д, зависит от вида учета и объема проверяемых документов.
                                    li Итоги – юридическое заключение с перечнем выявленных нарушений, со ссылками на статьи Трудового кодекса РФ и с размером потенциальных штрафов, а также с рекомендациями по процессу кадрового учета, для его корректной работы.

                            .button-style.section-tab-text__btn Оставить заявку

                    #tab-4.tabs__content-item

                        .section-tab-text.section-tab-text--max-width

                            .section-title Виды кадрового аудита

                            ol
                                li Полный кадровый аудит представляет собой сплошную проверку кадровой документации организации за 3 (три) последних года, которая включает проверку как наличия, так и соответствия действующему законодательству всех кадровых документов.
                                li Выборочный (целевой) кадровый аудит – анализируются только определенные виды кадровых документы или проверяется все разделы, но выборочно в объеме от 30 % до 50% от общего объема.
                                li Экспресс-аудит кадров — представляет собой проверку в кратчайшие сроки кадровых документов на их наличие либо отсутствие. Такая форма кадрового аудита выясняет, каких обязательных документов не хватает в организации, позволяет выявить грубые нарушения законодательства, оценить риски.

                            .button-style.section-tab-text__btn Оставить заявку


                    #tab-5.tabs__content-item

                        .section-tab-text.section-with-text

                            .section-title Стоимость услуг

                            .section-text
                                span Основываясь на 10-летнем опыте работы с коммерческими компаниями, наша команда FLC подготовила готовые пакеты юридического сопровождения, однако мы можем сформировать и индивидуальный пакет под потребности каждого Клиента, для этого <a target="_blank">скачайте Анкету</a>, заполните ее и пришлите нам на почту <a href="mailto:flc@f-jurist.ru">flc@f-jurist.ru</a>:

                            .benefits__table-wrapper

                                .benefits__table
                                    .table__header.table__row
                                        .table__col Услуги
                                        .table__col Цена, рубли
                                        .table__col Примечания

                                    .table__body

                                        .table__row.table__row--white
                                            .table__col кадровый аудит

                                        .table__row
                                            .table__col Количество работников до 10 человек
                                            .table__col
                                                b 15 000 ₽
                                            .table__col

                                        .table__row
                                            .table__col Количество работников от 10 до 25 человек
                                            .table__col
                                                b 25 000 ₽
                                            .table__col

                                        .table__row
                                            .table__col Количество работников от 25 до 50 человек
                                            .table__col
                                                b 45 000 ₽
                                            .table__col

                                        .table__row
                                            .table__col Свыше 50
                                            .table__col
                                                b от 70 000 ₽
                                            .table__col

                            .button-style.section-tab-text__btn Оставить заявку

                    #tab-6.tabs__content-item

                        .reviews

                            .section-title Отзывы

                            .reviews__items

                                .swiper-wrapper

                                    .reviews__item.swiper-slide

                                        .reviews__item-img
                                            img(src="assets/images/review1.png", alt="")

                                    .reviews__item.swiper-slide

                                        .reviews__item-img
                                            img(src="assets/images/review2.png", alt="")

                                    .reviews__item.swiper-slide

                                        .reviews__item-img
                                            img(src="assets/images/review3.png", alt="")

                                    .reviews__item.swiper-slide

                                        .reviews__item-img
                                            img(src="assets/images/review1.png", alt="")

                                    .reviews__item.swiper-slide

                                        .reviews__item-img
                                            img(src="assets/images/review2.png", alt="")

                                .reviews__pagination.slider__pagination

                                .reviews__items-nav

                                    .reviews__items-nav-prev
                                        img(src="assets/images/arrow-prev.svg", alt="")

                                    .reviews__items-nav-next
                                        img(src="assets/images/arrow-next.svg", alt="")

                            .button-style.section-tab-text__btn Оставить заявку

    section.section.results-section

        .container

            .section-title Результаты наших Клиентов после запуска работы с нами:

            .results

                .swiper

                    .swiper-wrapper

                        .results__item.swiper-slide
                            .results__diagram
                                .results__diagram-value(data-value=5 data-level=1)
                                    span 0
                                .results__diagram-value(data-value=30 data-level=3)
                                    span 0
                            .results__label Увеличили время на развитие бизнеса
                            .results__btn.button-style.button-style--light Узнать больше
                            .results__info
                                p Скорректировали порядок оплаты с Покупателями, чтобы не получать авансовые оплаты в конце квартала
                                .results__info-btn Скрыть

                        .results__item.swiper-slide
                            .results__diagram
                                .results__diagram-value(data-value=0 data-level=0)
                                    span 0
                                .results__diagram-value(data-value=33 data-level=3)
                                    span 0
                            .results__label Сэкономленные деньги вложили в развитие
                            .results__btn.button-style.button-style--light Узнать больше
                            .results__info
                                p Уменьшили расходы на юриста на 33%
                                .results__info-btn Скрыть

                        .results__item.swiper-slide
                            .results__diagram
                                .results__diagram-value(data-value=15 data-level=2)
                                    span 0
                                .results__diagram-value(data-value=32 data-level=3)
                                    span 0
                            .results__label Увеличили выручки
                            .results__btn.button-style.button-style--light Узнать больше
                            .results__info
                                p Уменьшили расходы на юриста на 33%
                                .results__info-btn Скрыть

                .swiper-pagination.mobile-slider

    section.our-team.section

        .container

            .section-title
                span FLC — команда с 10-летним опытом

            .our-team-wrapper

                .our-team__members

                    .our-team__member

                        .our-team__member-img
                            img(src="assets/images/member1.png", alt="")

                    .our-team__member

                        .our-team__member-img
                            img(src="assets/images/member2.png", alt="")

                    .our-team__member

                        .our-team__member-img
                            img(src="assets/images/member3.png", alt="")

                    .our-team__member

                        .our-team__member-img
                            img(src="assets/images/member4.png", alt="")

                    .our-team__member

                        .our-team__member-img
                            img(src="assets/images/member5.png", alt="")

                    .our-team__member

                        .our-team__member-img
                            img(src="assets/images/member6.png", alt="")

                .out-team__content

                    p FLC - предоставляет комплексное сопровождение по кадровому учету коммерческих компаний в России. Мы работаем по 8 направлениям:

                    ul.out-team__list
                        li Кадровый аудит;
                        li Восстановление кадрового учета;
                        li Кадровое абонентское сопровождение;
                        li Прохождение проверок трудовых инспекций;
                        li Прохождение проверок Роскомнадзора;
                        li Защита персональных данных;
                        li Консультации по трудовому праву;
                        li Защита в суде Работодателя;


                    p Наши клиенты получают первоклассные юридические услуги по конкурентным ценам. Это не только удобно, но и выгодно. Гарантируем высокий уровень сервиса, професиионализм, бизнес коммуникацию и конфиденциальность!

    section.section.experience-section.section-with-text

        .container

            .section-title
                span Работаем с широким спектром сфер бизнеса
            .section-text
                span За более чем 10-летний опыт работы мы приобрели и продолжаем сотрудничать с компаниями ведущими бизнес в следующих отраслях:

            .experience

                .swiper

                    .swiper-wrapper

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-1.svg", alt="icon")
                            .experience__label Производство
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-2.svg", alt="icon")
                            .experience__label Торговля
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-3.svg", alt="icon")
                            .experience__label Перевозки, логистика
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-4.svg", alt="icon")
                            .experience__label Финансовый сектор
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-5.svg", alt="icon")
                            .experience__label IT-технологии
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-6.svg", alt="icon")
                            .experience__label Сфера услуг
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-7.svg", alt="icon")
                            .experience__label Строительство
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-8.svg", alt="icon")
                            .experience__label Медицина
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-9.svg", alt="icon")
                            .experience__label Сельское хозяйство
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-10.svg", alt="icon")
                            .experience__label Переработка отходов
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                .mobile-slider.swiper-pagination

    section.trust-us.section.section-with-text

        .container

            .section-title Нам доверяют

            .section-text 8 из 10 руководителей США и Евросоюза передали весь бизнес или его отдельные части на аутсорсинг.

            .trust-us-wrapper

                .trust-us__content

                    .trust-us__content-title Выбирая аутсорсинг Вы:

                    ul.trust-us__list
                        li Вы не тратите  на поиск сотрудника, на  управление и контроль за его работой.
                        li Не платите 30,2 % соцналогов.
                        li Получаете готовые процессы работы, встроенные в Ваш бизнес;
                        li Расширяете возможности, получая проактивную команду специалистов по цене одного;
                        li Используете самые современные и эффективные методы управления бизнесом.

                .trust-us__slider

                    .swiper-wrapper

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust1.png", alt="")
                            .trust-us__title  Япония

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust2.png", alt="")
                            .trust-us__title Россия

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust3.png", alt="")
                            .trust-us__title АОЭ, Дубай

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust4.png", alt="")
                            .trust-us__title Чехия

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust5.png", alt="")
                            .trust-us__title Чехия

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust6.png", alt="")
                            .trust-us__title Япония

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust1.png", alt="")
                            .trust-us__title Посольство Республики Индонезия в Москве

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust2.png", alt="")
                            .trust-us__title Япония

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust6.png", alt="")
                            .trust-us__title Япония

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust1.png", alt="")
                            .trust-us__title Посольство Республики Индонезия в Москве

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust2.png", alt="")
                            .trust-us__title Япония


                    .trust-us__pagination.slider__pagination

                    .trust-us__nav
                        .trust-us__nav-prev
                            img(src="assets/images/arrow-prev.svg", alt="")
                        .trust-us__nav-next
                            img(src="assets/images/arrow-next.svg", alt="")

    section.get-service.section.section-with-text

        .container

            .get-service-wrapper

                .section-title
                    span Заказать кадровый аудит

                .section-text Чтобы обсудить ваши задачи, сформировать КП, ответить на ваши вопросы оставьте заявку на сайте и в течение 15 минут с вами свяжется ведущий специалист.

                .get-service__form

                    form(action="")

                        .get-service__form-col
                            label(for="").get-service__form-label
                                input(type="text" placeholder="Ваше имя")
                            label(for="").get-service__form-label
                                input(type="text" placeholder="Ваш телефон")

                        .get-service__form-col
                            .get-service__form-label
                                button(type="submit").button-style.get-service__form-btn Оставить заявку
                            .get-service__form-label
                                .get-service__form-text Нажимая на кнопку “Оставить заявку”, вы принимаете условия <a href >политики конфиденциальности</a> и соглашаетесь на обработку персональных данных