---
title : FLC | Судебное представительство
bodyClass: sud-pred
---

extends includes/_page


block hero

    .hero-section

        .hero

            .container

                .hero__inner

                    .hero__main

                        .hero__title.main-title
                            h1 Узнайте как выиграть дело в суде с вероятностью 93%
                            #hero-title
                        .hero__text
                            p Ответьте на 4 простых вопроса и получите стратегию, правовой анализ вашего дела бесплатно!

                        button.hero__btn.button-style(data-popup) Получить стратегию и анализ дела

                    .hero__img
                        img(src="assets/images/hero-sud.svg")

                    .hero__list

                        .hero__list-item
                            .hero__list-icon
                                img(src="assets/images/checked.svg", alt="icon")
                            .hero__list-title Мы вернули более 1 млр руб.
                            .hero__list-text долгов нашим клиентам

                        .hero__list-item
                            .hero__list-icon
                                img(src="assets/images/checked.svg", alt="icon")
                            .hero__list-title Обжаловали более 500 млн руб.
                            .hero__list-text неправомерно списанных налогов

                        .hero__list-item
                            .hero__list-icon
                                img(src="assets/images/checked.svg", alt="icon")
                            .hero__list-title Оспорили более 1 млн руб.
                            .hero__list-text необоснованных административных штрафов


        .hero__bottom

            .container

                .hero__nav

                    .swiper

                        .swiper-wrapper

                            .hero__nav-item.swiper-slide
                                a.hero__nav-link(href="#") Комплекное сопровождение бизнеса

                                ul.hero__submenu
                                    li.hero__submenu-item
                                        a.hero__submenu-link(href="#") Юридическое сопровождение
                                        ul.submenu__list
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Эконом — 40 000 руб.
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Базовый — 65 000 руб.
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Полный — 40 000 руб.
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Премиум — 40 000 руб.

                                    li.hero__submenu-item
                                        a.hero__submenu-link(href="#") Договоры
                                        ul.submenu__list
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Правовая экспертиза
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Подготовка договоров
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Разработка договорной базы
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Допсоглашение и протоколы

                                    li.hero__submenu-item
                                        a.hero__submenu-link(href="#") Налоговая оптимизация и учет
                                        ul.submenu__list
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Налоговое планирование
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Налоговая оптимизация

                                    li.hero__submenu-item
                                        a.hero__submenu-link(href="#") Правовой аудит
                                        ul.submenu__list
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Аудит бизнеса
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Аудит ВЭД
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Нематериальные активы
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Аудит финансов
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Аудит налоговой нагрузки

                                    li.hero__submenu-item
                                        a.hero__submenu-link(href="#") Недвижимость
                                        ul.submenu__list
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Сопровождение сделок

                                    li.hero__submenu-item
                                        a.hero__submenu-link(href="#") Интеллектуальная собственность
                                        ul.submenu__list
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Лицензионное соглашение
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Товарный знак
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Патент на изобретение
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Патент на полезную модель
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Патент на промобразец
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") МКТУ

                                    li.hero__submenu-item
                                        a.hero__submenu-link(href="#") Регистрация бизнеса
                                        ul.submenu__list
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Регистрация фирмы
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Регистрация за рубежом
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Регистрация изменений
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Ликцидация
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Реорганизация

                                    li.hero__submenu-item
                                        a.hero__submenu-link(href="#") Консультации
                                        ul.submenu__list
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Налоговое право
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Гражданское право
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Корпоративное право
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Трудовое право
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Проведение рекламных акций
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Защита персональных данных

                                    li.hero__submenu-item
                                        a.hero__submenu-link(href="#") Сопровождение инвест.проектов
                                        ul.submenu__list
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Юридическое сопровождение

                            .hero__nav-item.swiper-slide
                                a.hero__nav-link(href="#") Бухгалтерия и&nbsp;финансы
                                ul.hero__submenu
                                    li.hero__submenu-item
                                        a.hero__submenu-link(href="#") Юридическое сопровождение
                                        ul.submenu__list
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Эконом — 40 000 руб.
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Базовый — 65 000 руб.
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Полный — 40 000 руб.
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Премиум — 40 000 руб.

                                    li.hero__submenu-item
                                        a.hero__submenu-link(href="#") Договоры
                                        ul.submenu__list
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Правовая экспертиза
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Подготовка договоров
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Разработка договорной базы
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Допсоглашение и протоколы

                                    li.hero__submenu-item
                                        a.hero__submenu-link(href="#") Налоговая оптимизация и учет
                                        ul.submenu__list
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Налоговое планирование
                                            li.submenu__list-item
                                                a.submenu__list-link(href="#") Налоговая оптимизация


                            .hero__nav-item.swiper-slide
                                a.hero__nav-link(href="#") Юриспруденция

                            .hero__nav-item.swiper-slide
                                a.hero__nav-link(href="#") Кадры

                            .hero__nav-item.swiper-slide
                                a.hero__nav-link(href="#") Суды

                            .hero__nav-item.swiper-slide
                                a.hero__nav-link(href="#") Иностранным компаниям


block main

    section.section.business-support

        .container

            .section-title Чем мы занимаемся

            .wwdo__items

                .swiper-wrapper

                    .wwdo__item.swiper-slide

                        .wwdo__item-icon
                            img(src="assets/images/wwd1.svg", alt="")
                            img(src="assets/images/wwd1bg.png", alt="")
                        .wwdo__item-label 10 лет на рынке
                        .wwdo__item-text 10 лет работы на рынке бухгалтерского аутсорсинга

                    .wwdo__item.swiper-slide

                        .wwdo__item-icon
                            img(src="assets/images/wwd6.svg", alt="")
                            img(src="assets/images/wwd6bg.png", alt="")
                        .wwdo__item-label Профи своего дела
                        .wwdo__item-text У нас работают только ведущие и главные бухгалтера, постоянно проходящие обучение

                    .wwdo__item.swiper-slide

                        .wwdo__item-icon
                            img(src="assets/images/wwd5.svg", alt="")
                            img(src="assets/images/wwd5bg.png", alt="")
                        .wwdo__item-label Полное сопровождение
                        .wwdo__item-text Качество услуг — проверяется аудиторами FLC

                    .wwdo__item.swiper-slide

                        .wwdo__item-icon
                            img(src="assets/images/wwd3.svg", alt="")
                            img(src="assets/images/wwd3bg.png", alt="")
                        .wwdo__item-label Работаем во всех отраслях
                        .wwdo__item-text Отстроенные бизнес-процессы работы с Клиентами

                .wwde__pagination

    section.section.ceo-banner

        .container

            .c-banner

                .c-banner__left
                    .c-banner__title Сопровождаем бизнес коммерческих компаний в России по следующим направлениям:

                    ul.c-banner__list
                        li Юридическое сопровождение;
                        li Бухгалтерский аутсорсинг;
                        li Финансовое и налоговое планирование;
                        li Аудит (бухгалтерский и правовой/Due Diligence);
                        li Кадровое сопровождение;
                        li ВЭД (импорт/экспорт);
                        li Корпоративный аутсорсинг;
                        li Судебное сопровождение;
                        li Сопровождение иностранных компаний в России;
                        li Интеллектуальная собственность.

                    a.c-banner__btn.button-style(href='#') Выбрать вид сопровождения

                .c-banner__right
                    .c-banner__img
                        img(src='assets/images/svetlana.png' alt='img')
                    .c-banner__info-wrap
                        .c-banner__name
                            span Светлана Буравцова
                            div Генеральный директор
                        .c-banner__info Практика налогового планирования, внешнеэкономической деятельности  и правового аудита

    section.site-tabs.section

        .container

            .section__tabs

                .tabs__nav

                    .swiper-wrapper

                        .tabs__nav-item.swiper-slide

                            a(href="#tab-1") Виды судебных споров

                        .tabs__nav-item.swiper-slide

                            a(href="#tab-2") Отзывы клиентов

                        .tabs__nav-item.swiper-slide

                            a(href="#tab-3") Наши победы в суде

                        .tabs__nav-item.swiper-slide

                            a(href="#tab-4") Варианты оплаты

                        .tabs__nav-item.swiper-slide

                            a(href="#tab-5") Схема работы

                        .tabs__nav-item.swiper-slide

                            a(href="#tab-6") Команда судебных юристов

                .tabs__content

                    #tab-1.tabs__content-item

                        .litigation-type

                            .section-title Работаем с юрлицами по всем видам судебных споров

                            .litigation

                                .swiper

                                    .swiper-wrapper

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/001-payment.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Взыскание долга
                                                .litigation__text от 5 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/004-calculator.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Налоговые споры
                                                .litigation__text от 7 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/002-suitcase.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Корпоративные споры
                                                .litigation__text от 5 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/003-contract.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Гос.контракты
                                                .litigation__text от 5 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/016-human.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Трудовые споры
                                                .litigation__text от 5 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/005-light-bulb.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Интеллектуальная собственность
                                                .litigation__text от 5 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/006-policeman.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Административные споры
                                                .litigation__text от 5 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/007-cup.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Споры с ФАС
                                                .litigation__text от 7 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/008-no-stopping.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Признание сделок недействительными
                                                .litigation__text от 7 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/010-workaholic.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Банкротство юр.лиц
                                                .litigation__text от 7 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/011-location-pin.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Земельные споры
                                                .litigation__text от 7 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/012---Stacked-Boxes.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Таможенные споры
                                                .litigation__text от 7 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/013-home.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Признание права собственности
                                                .litigation__text от 7 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/014-helmet.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Споры по стройподряду и инвест-контрактам
                                                .litigation__text от 7 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/015-law.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label …. иные виды споров
                                                .litigation__text Со всеми видами споров вы можете ознакомиться на нашем сайте или у наших сотрудников

                                .mobile-slider.swiper-pagination

                    #tab-2.tabs__content-item

                        .reviews

                            .section-title Отзывы клиентов

                            .reviews__items

                                .swiper-wrapper

                                    .reviews__item.swiper-slide

                                        .reviews__item-img
                                            img(src="assets/images/review1.png", alt="")

                                    .reviews__item.swiper-slide

                                        .reviews__item-img
                                            img(src="assets/images/review2.png", alt="")

                                    .reviews__item.swiper-slide

                                        .reviews__item-img
                                            img(src="assets/images/review3.png", alt="")

                                    .reviews__item.swiper-slide

                                        .reviews__item-img
                                            img(src="assets/images/review1.png", alt="")

                                    .reviews__item.swiper-slide

                                        .reviews__item-img
                                            img(src="assets/images/review2.png", alt="")

                                .reviews__pagination.slider__pagination

                                .reviews__items-nav

                                    .reviews__items-nav-prev
                                        img(src="assets/images/arrow-prev.svg", alt="")

                                    .reviews__items-nav-next
                                        img(src="assets/images/arrow-next.svg", alt="")

                    #tab-3.tabs__content-item

                        .cases

                            .section-title
                                span Наши победы в суде

                            .cases__items

                                .swiper-wrapper

                                    .cases__item.swiper-slide

                                        a(href="assets/images/review3.png" data-fancybox).cases__item-img
                                            img(src="assets/images/review3.png", alt="")
                                            .cases__item-img-icon
                                                img(src="assets/images/plus-ic.svg", alt="")

                                        .cases__item-content

                                            .cases__item-title Дело: А40-176415/18

                                            p
                                                b Цель:
                                                |  вынесения решения об отказе в удовлетворении исковых требований

                                            p
                                                b Особенности:
                                                |  трудовой спор, представлены поддельные доказательства

                                            p
                                                b Результат:
                                                |  выиграли суд первой инстанции в полном объеме без проведения экспертизы доказательств

                                            p
                                                b Срок:
                                                |  2 дня с момента обращения Клиента в Компанию

                                .cases__pagination.slider__pagination

                                .cases__nav
                                    .cases__nav-prev
                                        img(src="assets/images/arrow-prev.svg", alt="")
                                    .cases__nav-next
                                        img(src="assets/images/arrow-next.svg", alt="")

                    #tab-4.tabs__content-item

                        .payments-type

                            .section-title 3 варианта оплаты

                            .section-text Подберем наиболее удобный для Вас

                            .payments-type__wrap

                                .payments-type__desc

                                    .payments-type__blocks
                                        .payments__var
                                            .payments__var-num 1
                                            .payments__var-block
                                                .payments__var-label
                                                    p Оплата за результат
                                                    .arrow-down
                                                .payments__var-text Процент от выигранной суммы или гонорар по достижении результата

                                        .payments__var
                                            .payments__var-num 2
                                            .payments__var-block
                                                .payments__var-label
                                                    p Предоплата
                                                    .arrow-down
                                                .payments__var-text Процент от выигранной суммы или гонорар по достижении результата

                                        .payments__var
                                            .payments__var-num 3
                                            .payments__var-block
                                                .payments__var-label
                                                    p Рассрочка платежа
                                                    .arrow-down
                                                .payments__var-text Процент от выигранной суммы или гонорар по достижении результата

                                    .payments__guarantee
                                        .payments__guarantee-block
                                            .payments__guarantee-icon
                                                img(src="assets/images/guarantee.svg", alt="icon")
                                            .payments__guarantee-wrap
                                                .payments__guarantee-label Гарантия
                                                .payments__guarantee-text Возвращаем деньги, если не выигрываем дело
                                        .payments__guarantee-block
                                            .payments__guarantee-icon
                                                img(src="assets/images/insurance.svg", alt="icon")
                                            .payments__guarantee-wrap
                                                .payments__guarantee-label Ответственность застрахована
                                                .payments__guarantee-text Компания «Ингосстрах»

                                .payments-type__img
                                    img(src="assets/images/payments-type.svg", alt="img")

                    #tab-5.tabs__content-item

                        .scheme-container

                            .section-title Работаем до конца — до получения клиентом желаемого результата

                            .scheme

                                .scheme__items

                                    .scheme__item
                                        .scheme__number 1
                                        .scheme__block
                                            .scheme__block-label Прогноз результата вашего дела
                                            .scheme__block-text Проводим правовой анализ перспектив судебного дела и определяем риски
                                                a(data-callback) Узнать прогноз результата и стоимость

                                    .scheme__item
                                        .scheme__number 2
                                        .scheme__block
                                            .scheme__block-label Заключение договора
                                            .scheme__block-text Фиксируем все обязательства в договоре

                                    .scheme__item
                                        .scheme__number 3
                                        .scheme__block
                                            .scheme__block-label Досудебное урегулирование споров
                                            .scheme__block-text Проводим переговоры по внесудебному решению спора.

                                    .scheme__item
                                        .scheme__number 4
                                        .scheme__block
                                            .scheme__block-label Ведение дела в суде
                                            .scheme__block-text Работаем под ключ до вынесения решения.

                                    .scheme__item
                                        .scheme__number 5
                                        .scheme__block
                                            .scheme__block-label Взыскание средств
                                            .scheme__block-text Ведем исполнительное производство — работаем с судебными приставами

                                .scheme__steps

                                    .scheme__step
                                        .scheme__step-label 1 шаг
                                        .scheme__step-icon
                                            img(src="assets/images/risk-management.svg", alt="icon")

                                    .scheme__step
                                        .scheme__step-label 2 шаг
                                        .scheme__step-icon
                                            img(src="assets/images/contract.svg", alt="icon")

                                    .scheme__step
                                        .scheme__step-label 3 шаг
                                        .scheme__step-icon
                                            img(src="assets/images/meeting.svg", alt="icon")

                                    .scheme__step
                                        .scheme__step-label 4 шаг
                                        .scheme__step-icon
                                            img(src="assets/images/court.svg", alt="icon")

                                    .scheme__step
                                        .scheme__step-label 5 шаг
                                        .scheme__step-icon
                                            img(src="assets/images/banknotes.svg", alt="icon")

                    #tab-6.tabs__content-item

                        .t-lawyer-container

                            .section-title С вами будут работать судебные юристы с опытом работы более 15 лет

                            .t-lawyer

                                .swiper

                                    .swiper-wrapper

                                        .t-lawyer__item.swiper-slide

                                            .t-lawyer__profile
                                                .t-lawyer__image
                                                    img(src="assets/images/yurist.jpg", alt="img")
                                                .t-lawyer__name Антонова Евгения Владимировна
                                                .t-lawyer__order Ведущий юрист судебного департамента компании «FLC»

                                            .t-lawyer__info
                                                .t-lawyer__info-row
                                                    p Образование
                                                    p Высшее юридическое – окончила Московский открытый социальный Университет по специальности «Юриспруденция»
                                                .t-lawyer__info-row
                                                    p Опыт работы в юридической сфере
                                                    p 19 лет
                                                .t-lawyer__info-row
                                                    p Специализация
                                                    ul
                                                        li корпоративные споры
                                                        li банкротство
                                                        li административные споры
                                                        li взыскание долгов
                                                        li трудовые споры
                                                .t-lawyer__info-row
                                                    p Количество завершённых дел
                                                    p 97

                                                .t-lawyer__btn.button-style(data-popup) Получить консультацию&nbsp;юриста

                                        .t-lawyer__item.swiper-slide

                                            .t-lawyer__profile
                                                .t-lawyer__image
                                                    img(src="assets/images/yurist.jpg", alt="img")
                                                .t-lawyer__name Антонова Евгения Владимировна
                                                .t-lawyer__order Ведущий юрист судебного департамента компании «FLC»

                                            .t-lawyer__info
                                                .t-lawyer__info-row
                                                    p Образование
                                                    p Высшее юридическое – окончила Московский открытый социальный Университет по специальности «Юриспруденция»
                                                .t-lawyer__info-row
                                                    p Опыт работы в юридической сфере
                                                    p 19 лет
                                                .t-lawyer__info-row
                                                    p Специализация
                                                    ul
                                                        li корпоративные споры
                                                        li банкротство
                                                        li административные споры
                                                        li взыскание долгов
                                                        li трудовые споры
                                                .t-lawyer__info-row
                                                    p Количество завершённых дел
                                                    p 97

                                                .t-lawyer__btn.button-style(data-popup) Получить консультацию&nbsp;юриста

                                        .t-lawyer__item.swiper-slide

                                            .t-lawyer__profile
                                                .t-lawyer__image
                                                    img(src="assets/images/yurist.jpg", alt="img")
                                                .t-lawyer__name Антонова Евгения Владимировна
                                                .t-lawyer__order Ведущий юрист судебного департамента компании «FLC»

                                            .t-lawyer__info
                                                .t-lawyer__info-row
                                                    p Образование
                                                    p Высшее юридическое – окончила Московский открытый социальный Университет по специальности «Юриспруденция»
                                                .t-lawyer__info-row
                                                    p Опыт работы в юридической сфере
                                                    p 19 лет
                                                .t-lawyer__info-row
                                                    p Специализация
                                                    ul
                                                        li корпоративные споры
                                                        li банкротство
                                                        li административные споры
                                                        li взыскание долгов
                                                        li трудовые споры
                                                .t-lawyer__info-row
                                                    p Количество завершённых дел
                                                    p 97

                                                .t-lawyer__btn.button-style(data-popup) Получить консультацию&nbsp;юриста

                                .custom-pagination.image-pagination.swiper-pagination


    section.our-team.section

        .container

            .section-title
                span FLC — команда с 10-летним опытом

            .our-team-wrapper

                .our-team__members

                    .our-team__member

                        .our-team__member-img
                            img(src="assets/images/member1.png", alt="")

                    .our-team__member

                        .our-team__member-img
                            img(src="assets/images/member2.png", alt="")

                    .our-team__member

                        .our-team__member-img
                            img(src="assets/images/member3.png", alt="")

                    .our-team__member

                        .our-team__member-img
                            img(src="assets/images/member4.png", alt="")

                    .our-team__member

                        .our-team__member-img
                            img(src="assets/images/member5.png", alt="")

                    .our-team__member

                        .our-team__member-img
                            img(src="assets/images/member6.png", alt="")

                .out-team__content

                    p FLC предлагает комплексное юридическое сопровождение компаний в Москве. Мы работаем по 15 направлениям:

                    ul.c-banner__list
                        li Юридический аутсорсинг;
                        li Внешнеэкономическая деятельность;
                        li Договорное право;
                        li Представительство  в суде;
                        li Услуги иностранным компаниям;
                        li Интеллектуальная собственность;
                        li Налоговое право;
                        li Правовой аудит;
                        li Трудовые отношения и защита персональных данных;
                        li Корпоративное право;
                        li Релокация бизнеса и ведение бизнеса за рубежом;
                        li Международное право;
                        li Сопровождение инвестиционных проектов;
                        li Запуск стартапов;
                        li E-commerce.

                    p Наши Клиенты получают первоклассные юридические услуги по конкурентным ценам. Это не только удобно, но и выгодно. Гарантируем высокий уровень сервиса, професионализм, бизнес коммуникацию и конфиденциальность!

    section.section.experience-section.section-with-text

        .container

            .section-title
                span Работаем с широким спектром сфер бизнеса
            .section-text
                span За более чем 10-летний опыт работы мы приобрели и продолжаем сотрудничать с компаниями ведущими бизнес в следующих отраслях:

            .experience

                .swiper

                    .swiper-wrapper

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-1.svg", alt="icon")
                            .experience__label Производство
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-2.svg", alt="icon")
                            .experience__label Торговля
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-3.svg", alt="icon")
                            .experience__label Перевозки, логистика
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-4.svg", alt="icon")
                            .experience__label Финансовый сектор
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-5.svg", alt="icon")
                            .experience__label IT-технологии
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-6.svg", alt="icon")
                            .experience__label Сфера услуг
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-7.svg", alt="icon")
                            .experience__label Строительство
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-8.svg", alt="icon")
                            .experience__label Медицина
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-9.svg", alt="icon")
                            .experience__label Сельское хозяйство
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                        .experience__item.swiper-slide
                            .experience__image
                                img(src="assets/images/exp-10.svg", alt="icon")
                            .experience__label Переработка отходов
                            .experience__info Международные перевозки Внутренние перевозки Экспедиторы

                .mobile-slider.swiper-pagination

    section.section.trust-us-section.section-with-text

        .container

            .trust-us

                .section-title Нам доверяют
                .section-text 8 из 10 руководителей США и Евросоюза передали весь бизнес или его отдельные части на аутсорсинг.

                .trust-us-slider

                    .swiper-wrapper

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust1.png", alt="")
                            .trust-us__title  Япония

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust2.png", alt="")
                            .trust-us__title Россия

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust3.png", alt="")
                            .trust-us__title АОЭ, Дубай

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust4.png", alt="")
                            .trust-us__title Чехия

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust5.png", alt="")
                            .trust-us__title Чехия

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust6.png", alt="")
                            .trust-us__title Япония

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust1.png", alt="")
                            .trust-us__title Посольство Республики Индонезия в Москве

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust2.png", alt="")
                            .trust-us__title Япония

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust6.png", alt="")
                            .trust-us__title Япония

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust1.png", alt="")
                            .trust-us__title Посольство Республики Индонезия в Москве

                        .trust-us__slide.swiper-slide
                            .trust-us__slide-logo
                                img(src="assets/images/trust2.png", alt="")
                            .trust-us__title Япония


                    .trust-us__pagination.slider__pagination

                    .trust-us__nav
                        .trust-us__nav-prev
                            img(src="assets/images/arrow-prev.svg", alt="")
                        .trust-us__nav-next
                            img(src="assets/images/arrow-next.svg", alt="")

    section.get-service.section.section-with-text

        .container

            .get-service-wrapper

                .section-title
                    span Заказать бухгалтерский аутсорсинг в Москве

                .section-text Чтобы обсудить Ваши задачи и задать любые интересующие Вас вопросы, оставьте заявку на сайте и дождитесь звонка руководителя юридического отдела.

                .get-service__form

                    form(action="")

                        .get-service__form-col
                            label(for="").get-service__form-label
                                input(type="text" placeholder="Ваше имя")
                            label(for="").get-service__form-label
                                input(type="text" placeholder="Ваш телефон")

                        .get-service__form-col
                            .get-service__form-label
                                button(type="submit").button-style.get-service__form-btn Оставить заявку
                            .get-service__form-label
                                .get-service__form-text Нажимая на кнопку “Оставить заявку”, вы принимаете условия <a href >политики конфиденциальности</a> и соглашаетесь на обработку персональных данных