---
title : FLC | Судебное представительство
bodyClass: sud-pred
---

extends includes/_page


block hero

    .hero-section

        .hero

            .container

                .hero__inner

                    .hero__main

                        .hero__title.main-title
                            h1 Узнайте как выиграть дело в суде с вероятностью 93%
                            #hero-title
                        .hero__text
                            p Ответьте на 4 простых вопроса и получите стратегию, правовой анализ вашего дела бесплатно!

                        button.hero__btn.button-style Получить стратегию и анализ дела

                    .hero__img
                        img(src="assets/images/hero-sud.svg")

                    .hero__list

                        .hero__list-item
                            .hero__list-icon
                                img(src="assets/images/checked.svg", alt="icon")
                            .hero__list-title Мы вернули более 1 млр руб.
                            .hero__list-text долгов нашим клиентам

                        .hero__list-item
                            .hero__list-icon
                                img(src="assets/images/checked.svg", alt="icon")
                            .hero__list-title Обжаловали более 500 млн руб.
                            .hero__list-text неправомерно списанных налогов

                        .hero__list-item
                            .hero__list-icon
                                img(src="assets/images/checked.svg", alt="icon")
                            .hero__list-title Оспорили более 1 млн руб.
                            .hero__list-text необоснованных административных штрафов


        .hero__bottom

            .container

                .hero__nav

                    .hero__nav-item
                        a.hero__nav-link(href="#") Комплекное сопровождение бизнеса

                        ul.hero__submenu
                            li.hero__submenu-item
                                a.hero__submenu-link(href="#") Юридическое
                            li.hero__submenu-item
                                a.hero__submenu-link(href="#") Бухгалтерское
                            li.hero__submenu-item
                                a.hero__submenu-link(href="#") Финансовое
                            li.hero__submenu-item
                                a.hero__submenu-link(href="#") Налоговое
                            li.hero__submenu-item
                                a.hero__submenu-link(href="#") Кадровое
                            li.hero__submenu-item
                                a.hero__submenu-link(href="#") ВЭД
                            li.hero__submenu-item
                                a.hero__submenu-link(href="#") Судебное

                    .hero__nav-item
                        a.hero__nav-link(href="#") Бухгалтерия и&nbsp;финансы

                        ul.hero__submenu
                            li.hero__submenu-item
                                a.hero__submenu-link(href="#") Бухгалтерский аутсорсинг
                            li.hero__submenu-item
                                a.hero__submenu-link(href="#") Налоговоое планирование

                    .hero__nav-item
                        a.hero__nav-link(href="#") Юриспруденция

                        ul.hero__submenu
                            li.hero__submenu-item
                                a.hero__submenu-link(href="#") Юридический аутсорсинг
                            li.hero__submenu-item
                                a.hero__submenu-link(href="#") Правовой аудит (Due diligence)

                    .hero__nav-item
                        a.hero__nav-link(href="#") Кадры

                        ul.hero__submenu
                            li.hero__submenu-item
                                a.hero__submenu-link(href="#") Кадровый аудит

                    .hero__nav-item
                        a.hero__nav-link(href="#") Суды

                        ul.hero__submenu
                            li.hero__submenu-item
                                a.hero__submenu-link(href="#") Ведение дел в судах

                    .hero__nav-item
                        a.hero__nav-link(href="#") Иностранным компаниям

                        ul.hero__submenu
                            li.hero__submenu-item
                                a.hero__submenu-link(href="#") Запуск и сопровождение бизнеса в России для иностранных компаний


block main

    section.section.business-support

        .container

            .section-title Чем мы занимаемся

            .wwdo__items

                .swiper-wrapper

                    .wwdo__item.swiper-slide

                        .wwdo__item-icon
                            img(src="assets/images/wwd1.svg", alt="")
                            img(src="assets/images/wwd1bg.png", alt="")
                        .wwdo__item-label 10 лет на рынке
                        .wwdo__item-text 10 лет работы на рынке бухгалтерского аутсорсинга

                    .wwdo__item.swiper-slide

                        .wwdo__item-icon
                            img(src="assets/images/wwd6.svg", alt="")
                            img(src="assets/images/wwd6bg.png", alt="")
                        .wwdo__item-label Профи своего дела
                        .wwdo__item-text У нас работают только ведущие и главные бухгалтера, постоянно проходящие обучение

                    .wwdo__item.swiper-slide

                        .wwdo__item-icon
                            img(src="assets/images/wwd5.svg", alt="")
                            img(src="assets/images/wwd5bg.png", alt="")
                        .wwdo__item-label Полное сопровождение
                        .wwdo__item-text Качество услуг — проверяется аудиторами FLC

                    .wwdo__item.swiper-slide

                        .wwdo__item-icon
                            img(src="assets/images/wwd3.svg", alt="")
                            img(src="assets/images/wwd3bg.png", alt="")
                        .wwdo__item-label Работаем во всех отраслях
                        .wwdo__item-text Отстроенные бизнес-процессы работы с Клиентами

                .wwde__pagination

    section.section.ceo-banner

        .container

            .c-banner

                .c-banner__left
                    .c-banner__title Сопровождаем бизнес коммерческих компаний в России по следующим направлениям:

                    ul.c-banner__list
                        li Юридическое сопровождение;
                        li Бухгалтерский аутсорсинг;
                        li Финансовое и налоговое планирование;
                        li Аудит (бухгалтерский и правовой/Due Diligence);
                        li Кадровое сопровождение;
                        li ВЭД (импорт/экспорт);
                        li Корпоративный аутсорсинг;
                        li Судебное сопровождение;
                        li Сопровождение иностранных компаний в России;
                        li Интеллектуальная собственность.

                    a.c-banner__btn.button-style(href='#') Выбрать вид сопровождения

                .c-banner__right
                    .c-banner__img
                        img(src='assets/images/svetlana.png' alt='img')
                    .c-banner__info-wrap
                        .c-banner__name
                            span Светлана Буравцова
                            |  Генеральный директор
                        .c-banner__info Практика налогового планирования, внешнеэкономической деятельности  и правового аудита

    section.site-tabs.section

        .container

            .section__tabs

                .tabs__nav

                    .swiper-wrapper

                        .tabs__nav-item.swiper-slide

                            a(href="#tab-1") Виды судебных споров

                        .tabs__nav-item.swiper-slide

                            a(href="#tab-2") Отзывы клиентов

                        .tabs__nav-item.swiper-slide

                            a(href="#tab-3") Наши победы в суде

                        .tabs__nav-item.swiper-slide

                            a(href="#tab-4") Варианты оплаты

                        .tabs__nav-item.swiper-slide

                            a(href="#tab-5") Схема работы

                        .tabs__nav-item.swiper-slide

                            a(href="#tab-5") Команда судебных юристов

                .tabs__content

                    #tab-1.tabs__content-item

                        .litigation-type

                            .section-title Работаем с юрлицами по всем видам судебных споров

                            .litigation

                                .swiper

                                    .swiper-wrapper

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/001-payment.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Взыскание долга
                                                .litigation__text от 5 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/004-calculator.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Налоговые споры
                                                .litigation__text от 7 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/002-suitcase.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Корпоративные споры
                                                .litigation__text от 5 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/003-contract.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Гос.контракты
                                                .litigation__text от 5 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/016-human.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Трудовые споры
                                                .litigation__text от 5 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/005-light-bulb.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Интеллектуальная собственность
                                                .litigation__text от 5 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/006-policeman.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Административные споры
                                                .litigation__text от 5 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/007-cup.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Споры с ФАС
                                                .litigation__text от 7 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/008-no-stopping.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Признание сделок недействительными
                                                .litigation__text от 7 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/010-workaholic.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Банкротство юр.лиц
                                                .litigation__text от 7 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/011-location-pin.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Земельные споры
                                                .litigation__text от 7 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/012---Stacked-Boxes.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Таможенные споры
                                                .litigation__text от 7 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/013-home.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Признание права собственности
                                                .litigation__text от 7 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/014-helmet.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label Споры по стройподряду и инвест-контрактам
                                                .litigation__text от 7 000 ₽ за одно заседание

                                        .litigation__item.swiper-slide
                                            .litigation__icon
                                                img(src="assets/images/015-law.svg", alt="icon")
                                            .litigation__desc
                                                .litigation__label …. иные виды споров
                                                .litigation__text Со всеми видами споров вы можете ознакомиться на нашем сайте или у наших сотрудников

                                .mobile-slider.swiper-pagination

                    #tab-2.tabs__content-item

                        .reviews

                            .section-title Отзывы клиентов

                            .reviews__items

                                .swiper-wrapper

                                    .reviews__item.swiper-slide

                                        .reviews__item-img
                                            img(src="assets/images/review1.png", alt="")

                                    .reviews__item.swiper-slide

                                        .reviews__item-img
                                            img(src="assets/images/review2.png", alt="")

                                    .reviews__item.swiper-slide

                                        .reviews__item-img
                                            img(src="assets/images/review3.png", alt="")

                                    .reviews__item.swiper-slide

                                        .reviews__item-img
                                            img(src="assets/images/review1.png", alt="")

                                    .reviews__item.swiper-slide

                                        .reviews__item-img
                                            img(src="assets/images/review2.png", alt="")

                                .reviews__pagination.slider__pagination

                                .reviews__items-nav

                                    .reviews__items-nav-prev
                                        img(src="assets/images/arrow-prev.svg", alt="")

                                    .reviews__items-nav-next
                                        img(src="assets/images/arrow-next.svg", alt="")

                    #tab-3.tabs__content-item

                        .cases

                            .section-title
                                span Наши победы в суде

                            .cases__items

                                .swiper-wrapper

                                    .cases__item.swiper-slide

                                        a(href="assets/images/review3.png" data-fancybox).cases__item-img
                                            img(src="assets/images/review3.png", alt="")
                                            .cases__item-img-icon
                                                img(src="assets/images/plus-ic.svg", alt="")

                                        .cases__item-content

                                            .cases__item-title Дело: А40-176415/18

                                            p
                                                b Цель:
                                                |  вынесения решения об отказе в удовлетворении исковых требований

                                            p
                                                b Особенности:
                                                |  трудовой спор, представлены поддельные доказательства

                                            p
                                                b Результат:
                                                |  выиграли суд первой инстанции в полном объеме без проведения экспертизы доказательств

                                            p
                                                b Срок:
                                                |  2 дня с момента обращения Клиента в Компанию

                                .cases__pagination.slider__pagination

                                .cases__nav
                                    .cases__nav-prev
                                        img(src="assets/images/arrow-prev.svg", alt="")
                                    .cases__nav-next
                                        img(src="assets/images/arrow-next.svg", alt="")

                    #tab-4.tabs__content-item

                        .payments-type

                            .section-title 3 варианта оплаты

                            .section-text Подберем наиболее удобный для Вас

                            .payments-type__wrap

                                .payments-type__desc


                                .payments-type__img
                                    img(src="assets/images/payments-type.svg", alt="img")