---
title : FLC | Услуги иностранным компаниям
bodyClass: int-services
---

extends includes/_page

block hero
    include components/_hero
    +hero('Юридические и бухгалтерские услуги иностранным компаниям в России',
          'Российская аутсорсинговая компания  FLC (Full Legal Consulting) - команда профессиональных аутсорсеров. Работаем  по комплексному сопровождению иностранных компаний в России!',
          'uslugi-inostr-hero.svg')

block main

    section.what-we-do.section

        .container

            .section-title Чем мы занимаемся

            .wwdo__items

                .swiper-wrapper

                    .wwdo__item.swiper-slide

                        .wwdo__item-icon
                            img(src="assets/images/wwd1.svg", alt="")
                            img(src="assets/images/wwd1bg.png", alt="")

                        .wwdo__item-title 10 лет на рынке

                        .wwdo__item-text Работаем на рынке аутсорсинговых услуг по сопровождению бизнеса коммерческих компаний в России с 2013 года

                    .wwdo__item.swiper-slide

                        .wwdo__item-icon
                            img(src="assets/images/wwd6.svg", alt="")
                            img(src="assets/images/wwd6bg.png", alt="")

                        .wwdo__item-title Профи своего дела

                        .wwdo__item-text Являемся профессиональной командой аутсорсеров

                    .wwdo__item.swiper-slide

                        .wwdo__item-icon
                            img(src="assets/images/wwd5.svg", alt="")
                            img(src="assets/images/wwd5bg.png", alt="")

                        .wwdo__item-title Полное сопровождение

                        .wwdo__item-text Работаем с Клиентами как на полном сопровождении их бизнеса по всем  направлениям одновременно (Full support), так и на сопровождении отдельных направлений

                    .wwdo__item.swiper-slide 

                        .wwdo__item-icon
                            img(src="assets/images/wwd3.svg", alt="")
                            img(src="assets/images/wwd3bg.png", alt="")
                            
                        .wwdo__item-title Работаем во всех отраслях

                        .wwdo__item-text За 10 лет работы на рынке отработали схемы сопровождения коммерческих компаний по всем отраслям бизнеса



                .wwde__pagination

    section.section.ceo-banner

        .container

            .c-banner

                .c-banner__left
                    .c-banner__title Сопровождаем бизнес коммерческих компаний в России по следующим направлениям:

                    ul.c-banner__list
                        li Юридическое сопровождение;
                        li Бухгалтерский аутсорсинг;
                        li Финансовое и налоговое планирование;
                        li Аудит (бухгалтерский и правовой/Due Diligence);
                        li Кадровое сопровождение;
                        li ВЭД (импорт/экспорт);
                        li Корпоративный аутсорсинг;
                        li Судебное сопровождение;
                        li Сопровождение иностранных компаний в России;
                        li Интеллектуальная собственность.

                    a.c-banner__btn.button-style(href='#') Выбрать вид сопровождения

                .c-banner__right
                    .c-banner__img
                        img(src='assets/images/svetlana.png' alt='img')
                    .c-banner__info-wrap
                        .c-banner__name
                            span Светлана Буравцова
                            |  Генеральный директор
                        .c-banner__info Практика налогового планирования, внешнеэкономической деятельности  и правового аудита

    section.site-tabs.section

        .container

            .section__tabs

                .tabs__nav

                    .swiper-wrapper

                        .tabs__nav-item.swiper-slide

                            a(href="#tab-1") Регистрация компаний/филиалов/Открытие счетов 

                        .tabs__nav-item.swiper-slide

                            a(href="#tab-2") Цены


                        .tabs__nav-item.swiper-slide

                            a(href="#tab-3") Отзывы

                        .tabs__nav-item.swiper-slide

                            a(href="#tab-4") Кейсы

                .tabs__content

                    #tab-1.tabs__content-item

                        .section-with-text

                            .section-title Открытие бизнеса в России

                            .section-text Для ведения бизнеса в России существует несколько вариантов, перечислим их ниже и отметим основные преимущества и процедуру:

                            .section__acc 

                                .acc.acc__mob 
                                    .acc__card.is-active
                                        .acc__title
                                            .acc__title-icon 
                                                span 1
                                            .acc__title-inner Открытие р/с без образования юридического лица, открытия филиала или представительства
                                            .arrow-down 
                                        .acc__panel
                                            .acc__panel-title Открытие р/с без образования юридического лица, открытия филиала или представительства:
                                            
                                            .acc__panel-items

                                                .acc__panel-item
                                                    .acc__panel-item-img 
                                                        img(src="assets/images/acc-panel-item1.svg", alt="")
                                                    .acc__panel-item-title Кому подходит?
                                                    p Нужно компаниям, которые только начинают свою деятельность в России.

                                                .acc__panel-item
                                                    .acc__panel-item-img 
                                                        img(src="assets/images/acc-panel-item2.svg", alt="")
                                                    .acc__panel-item-title Процедура:
                                                    p Иностранная компании должна быть поставлена на учет в налоговом органе с присвоением ИНН и выдачей свидетельства о постановке на учет, необходимо подать следующий список документов:
                                                    ul.c-banner__list
                                                        li заявление;
                                                        li учредительные документы иностранной компании;
                                                        li Кадровый учет, расчет и начисление заработной платы, выплата премий, отпуска.
                                                        li выписка с Реестра юрлиц или другого аналогичного по смыслу документа; документа, выданного компетентным органом иностранного государства подтверждающего статус налогоплательщика с указанием налогового кода. Если код налогоплательщика указывается в выписке с Реестра юрлиц, тогда указанный документ предоставлять не нужно;
                                                        li разрешение уполномоченного органа юрлица на регистрацию;
                                                        li договора с контрагентами;
                                                        li документ, подтверждающий полномочия подписанта.

                                            .acc__panel-important 
                                                .acc__panel-important-content 
                                                    .acc__panel-important-title Важно!
                                                    .acc__panel-important-text Банк России, регулирующий процедуру и ее особенности, создал Инструкции и установил порядок, по которому иностранным компаниям необходимо встать на налоговый учет там, где находится выбранный банк (филиал банка).
                                                .acc__panel-important-img 
                                                    img(src="assets/images/important.svg", alt="")

                                            .acc__panel-callback 
                                                .acc__panel-callback-title Оставьте заявку, чтобы узнать стоимость или заказать услугу
                                                .acc__panel-callback-text и в течение 15 минут с вами свяжется ведущий специалист.
                                                .acc__panel-callback-btn.button-style Оставить заявку

                                    .acc__card
                                        .acc__title 
                                            .acc__title-icon 
                                                span 2
                                            .acc__title-inner Открытие филиала или представительства иностранной компании.                                           
                                            .arrow-down
                                        .acc__panel
                                            .acc__panel-title Открытие филиала или представительства иностранной компании.
                                            
                                            .acc__panel-items

                                                .acc__panel-item
                                                    .acc__panel-item-img 
                                                        img(src="assets/images/acc-panel-item1.svg", alt="")
                                                    .acc__panel-item-title Кому подходит?
                                                    p Иностранным компаниям, которые хотят управлять филиалом или представительством централизовано с использованием в основном иностранных работников головной компании.
                                                    p
                                                        i Представительство — это подразделение юридического лица, созданное для представления и защиты интересов организации вне места нахождения основной компании.
                                                    p 
                                                        i Филиал — это подразделение юридического лица, организованное вне территории нахождения головной организации, но при этом способное выполнять ее функции ведения коммерческой деятельности в полном объеме, включая и те, что присущи представительству.

                                                .acc__panel-item
                                                    .acc__panel-item-img 
                                                        img(src="assets/images/acc-panel-item2.svg", alt="")
                                                    .acc__panel-item-title Процедура:
                                                    p Иностранная компании должна быть поставлена на учет в налоговом органе с присвоением ИНН и выдачей свидетельства о постановке на учет, необходимо подать следующий список документов:
                                                    ol
                                                        li Необходимо подготовить положение о филиале / представительстве иностранного юридического лица.
                                                        li Сформировать и подготовить решение о создании филиала/представительства.
                                                        li Подготовить документы от головной организации:
                                                            ul.c-banner__list
                                                                li заявление;
                                                                li учредительные документы иностранной компании;
                                                                li Кадровый учет, расчет и начисление заработной платы, выплата премий, отпуска.
                                                                li выписка с Реестра юрлиц или другого аналогичного по смыслу документа; документа, выданного компетентным органом иностранного государства подтверждающего статус налогоплательщика с указанием налогового кода. Если код налогоплательщика указывается в выписке с Реестра юрлиц, тогда указанный документ предоставлять не нужно;
                                                                li разрешение уполномоченного органа юрлица на регистрацию;
                                                                li договора с контрагентами;
                                                                li документ, подтверждающий полномочия подписанта.   

                                            .acc__panel-grave 

                                                .acc__panel-grave-title
                                                    .acc__panel-grave-img 
                                                        img(src="assets/images/imp-ic.svg", alt="")
                                                    span Важно

                                                .acc__panel-grave-content 

                                                    ul 
                                                        li Причем документы, составленные на иностранном языке, должны сопровождаться переводом на русский, который будет заверен нотариусом на территории РФ.<br><br><b>Важно!</b>  Документы от иностранной компании должны быть предоставлены при наличии консульской легализации документов или проставленного апостиля.
                                                        li Исключение — если международным договором Российской Федерации предусмотрено освобождение от легализации документов.
                                                        li Подать документы на аккредитацию можно в течение 12 месяцев с момента принятия решения о создании филиала/представительства. Причем все представляемые в комплекте документы также должны быть
                                                        li Заполнить (на русском) заявление по определенной форме 15АФП. Подписывает данное заявление уполномоченный представитель юридического лица.
                                                        li Обратиться в Торгово-промышленную палату (ТПП) РФ. В ТПП нужно подать сведения о численности иностранных сотрудников филиала / представительства и заверить их.<br><br>Заверять сведения надо всегда, даже в случае, если численность таких сотрудников — ноль.<br><br>Вместе со сведениями направляется письмо с просьбой заверить данные сведения, а также направляются документы, подтверждающие деятельность филиала иностранной организации в России.<br><br>За заверение численности в ТПП РФ необходимо уплатить денежные средства. Сумма зависит от способа подачи документов, ее размер периодически меняется.
                                                        li Оплатить госпошлину за аккредитацию. Сумма госпошлины — 120 000 рублей за один филиал.
                                                        li Подать документы на аккредитацию в Межрайонную инспекцию ФНС России № 47 по г. Москве.<br><br><b>Важно!</b> Срок регистрации 30 рабочих дней с даты подачи (25 рабочих дней — срок аккредитации, 5 рабочих дней — срок для выдачи документов).<br><br>Проверить аккредитацию можно с помощью сервиса ФНС <b>https://service.nalog.ru/rafp/</b>
                                                        li По итогу регистрации вы получаете:
                                                            ul 
                                                                li свидетельство о постановке на учет в налоговой;
                                                                li информационный лист о внесении записи в государственный реестр аккредитованных филиалов, представительств иностранных юридических лиц;
                                                                li уведомления о постановке на учет во внебюджетных фондах — ФСС и ПФР. Также потребуется открыть расчетный счет в российском банке, при необходимости заказать печать, хотя сейчас организации на территории РФ могут работать и без ее использования, но тогда этот пункт необходимо предусмотреть в учредительных документах компании.
                                                                li Оформить необходимые документы для беспроблемного въезда иностранных сотрудников в РФ.
                                                                li  Организовать ведение бухгалтерского и налогового учета. Это означает, что представительства иностранных компаний могут вести бухучет согласно МСФО (международным стандартам финансовой отчетности), которые сейчас во многом используются и для ведения учета в России. Если же компания выбирает ведение учета по российским стандартам, то нужно учесть, что бухгалтерский учет в РФ далеко не полностью совпадает с международными стандартами учета и отчетности и имеет свои особенности.
                                                    p Какой бы вариант не выбрала иностранная организация, ей потребуется местный специалист или аутсорсинговая компания, обладающие необходимыми знаниями и опытом.
                                                
                                            .acc__panel-callback 
                                                .acc__panel-callback-title Оставьте заявку, чтобы узнать стоимость или заказать услугу
                                                .acc__panel-callback-text и в течение 15 минут с вами свяжется ведущий специалист.
                                                .acc__panel-callback-btn.button-style Оставить заявку

                                    .acc__card
                                        .acc__title
                                            .acc__title-icon 
                                                span 3
                                            .acc__title-inner Открытие ООО/АО
                                            .arrow-down
                                        .acc__panel
                                            .acc__panel-title Открытие ООО/АО
                                            
                                            .acc__panel-items

                                                .acc__panel-item
                                                    .acc__panel-item-img 
                                                        img(src="assets/images/acc-panel-item1.svg", alt="")
                                                    .acc__panel-item-title Кому подходит?
                                                    p Открытие ООО/АО
                                                    p Какая может быть форма юридического лица? (ООО) и акционерное общество (АО). Многие моменты, связанные с регистрацией ООО и АО, одинаковы. Поэтому рассмотрим условия, сроки и стоимость открытия общества на примере ООО, как наиболее распространенной формы ведения бизнеса в России.
                                                    p Схема работы ООО во многом будет знакома и понятна иностранному инвестору.
                                                    
                                                .acc__panel-grave.acc__panel-grave--light
                                                    .acc__panel-grave-title
                                                        .acc__panel-grave-img 
                                                            img(src="assets/images/grave-ic.svg", alt="")
                                                    .acc__panel-grave-content
                                                        .acc__panel-grave-content-title Преимущества:
                                                        ul.c-banner__list
                                                            li Участник общества не отвечает по долгам всего общества – его ответственность ограничена размером его доли как участника.
                                                            li ООО имеет возможность применять упрощённую систему налогообложения (УСН), которая выгодна малому и среднему бизнесу, так как государство предусмотрело для такого типа организации льготный режим налогообложения.
                                                            li Для открытия ООО иностранный гражданин или иностранное юридическое лицо может быть 100% участником, т.е. единоличным собственником.

                                                .acc__panel-item
                                                    .acc__panel-item-img 
                                                        img(src="assets/images/acc-panel-item2.svg", alt="")
                                                    .acc__panel-item-title Процедура:
                                                    
                                                    ol
                                                        li Нужен юридический адрес,
                                                        li Уставный капитал (не менее 10 тыс. рублей),
                                                        li Генеральный директор – должен быть или гражданином РФ, или иметь рабочую визу (для иностранцев).
                                                        li Срок регистрации - 5 рабочих дней с момента подачи документов до получения свидетельства.
                                                        li Расходы на открытие - включают затраты на перевод и нотариальное заверение документов на учредителя, заверение и пересылку документов, а также госпошлина 4 тыс. рублей.
                                                        
                                   
                                            .acc__panel-grave 

                                                .acc__panel-grave-title
                                                    .acc__panel-grave-img 
                                                        img(src="assets/images/imp-ic.svg", alt="")
                                                    span Важно

                                                .acc__panel-grave-content 

                                                    ul 
                                                        li Если одним из учредителей ООО является иностранная компания, то понадобится предоставить легализованные документы из страны инкорпорации, содержащие основную информацию о компании. Документы должны быть переведены на русский язык и заверены российским нотариусом.
                                                        li Иностранному гражданину, если он планирует занимать какую-либо должность в ООО, необходимо разрешение на работу. Существует 2 варианта получения визы:
                                                            ul
                                                                li долгий (более года) с оформлением квот, но без лимита по заработной плате,
                                                                li быстрый (14 дней), но с лимитом по заработной плате не менее 167 000 руб. в месяц.

                                            .acc__panel-callback 
                                                .acc__panel-callback-title Оставьте заявку, чтобы узнать стоимость или заказать услугу
                                                .acc__panel-callback-text и в течение 15 минут с вами свяжется ведущий специалист.
                                                .acc__panel-callback-btn.button-style Оставить заявку

                                .acc__desc 
                                    .acc__desc-nav 
                                        a(href="#tab-inner-1").acc__desc-nav-item 
                                            .acc__desc-nav-item-icon 
                                                span 1
                                            .acc__desc-nav-item-inner Открытие р/с без образования юридического лица, открытия филиала или представительства
                                            .arrow-down

                                        a(href="#tab-inner-2").acc__desc-nav-item 
                                            .acc__desc-nav-item-icon 
                                                span 1
                                            .acc__desc-nav-item-inner Открытие филиала или представительства иностранной компании.                                           
                                            .arrow-down

                                        a(href="#tab-inner-3").acc__desc-nav-item 
                                            .acc__desc-nav-item-icon 
                                                span 1
                                            .acc__desc-nav-item-inner Открытие ООО/АО

                                    .acc__desc-content

                                        #tab-inner-1.acc__desc-tab 1

                                        #tab-inner-2.acc__desc-tab 2

                                        #tab-inner-3.acc__desc-tab 3


